@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q5i28q');
  src:  url('fonts/icomoon.eot?q5i28q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q5i28q') format('truetype'),
    url('fonts/icomoon.woff?q5i28q') format('woff'),
    url('fonts/icomoon.svg?q5i28q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coord:before {
  content: "\e91d";
}
.icon-letter:before {
  content: "\e91c";
}
.icon-inst_new:before {
  content: "\e917";
}
.icon-ar_m:before {
  content: "\e918";
}
.icon-menu:before {
  content: "\e919";
}
.icon-pdf:before {
  content: "\e91a";
}
.icon-photo:before {
  content: "\e91b";
}
.icon-address:before {
  content: "\e900";
}
.icon-anniversary:before {
  content: "\e901";
}
.icon-arr-left:before {
  content: "\e902";
}
.icon-arr-right:before {
  content: "\e903";
}
.icon-banket:before {
  content: "\e904";
}
.icon-birth:before {
  content: "\e905";
}
.icon-book:before {
  content: "\e906";
}
.icon-child:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-corporate:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-inst:before {
  content: "\e90b";
}
.icon-logo:before {
  content: "\e90c";
}
.icon-more:before {
  content: "\e90d";
}
.icon-muse:before {
  content: "\e90e";
}
.icon-nc:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e910";
}
.icon-place:before {
  content: "\e911";
}
.icon-select:before {
  content: "\e912";
}
.icon-time:before {
  content: "\e913";
}
.icon-tripadvisor:before {
  content: "\e914";
}
.icon-VK:before {
  content: "\e915";
}
.icon-wedding:before {
  content: "\e916";
}

