$gray-bg: #e9ecf1;
$green-bg: #eaefe1;
$blue: #4482cf;
$yellow: #ffd321;
$purple: #7f03a3;
$green: #2d9c3f;
$pink: #b4009d;
$red: #ca5b5b;


$bg_color: #373F51;
$main_color: #fff;
$darken_color: #eee;
$more_darken_color: #373F51;