@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700|PT+Sans:400,700|PT+Serif");
@import url(normalize.css);
header {
  min-height: 1205px;
  background: url("../img/bg.jpg") center no-repeat transparent;
  background-size: cover;
  /* animated hamburger icon. Check it -> http://codepen.io/pvrt/pen/eJZmxZ*/ }
  header .container {
    max-width: 1652px; }
  header .icon_overlay {
    display: none;
    background: transparent;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; }
  header nav {
    z-index: 255;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    margin: 0 30px 40px;
    background: url("../img/menu-bg.png") repeat-x transparent;
    position: relative; }
    header nav .icon {
      display: none; }
    header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      text-align: center;
      margin: 0;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      padding: 0; }
      header nav ul li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0 40px; }
        header nav ul li a {
          color: #bcc8ec;
          display: block;
          text-decoration: none;
          position: relative; }
          header nav ul li a:hover {
            color: white;
            font-weight: 700; }
            header nav ul li a:hover:after {
              content: '';
              width: 100%;
              height: 2px;
              background: white;
              position: absolute;
              bottom: -5px;
              left: 0; }
            header nav ul li a:hover:before {
              content: '';
              width: 100%;
              height: 1px;
              background: white;
              position: absolute;
              top: 0;
              left: 0; }
    header nav:before {
      content: '';
      position: absolute;
      background: url("../img/left-menu-bg.png");
      width: 32px;
      height: 49px;
      top: 0;
      left: -32px; }
    header nav:after {
      content: '';
      position: absolute;
      background: url("../img/right-menu-bg.png");
      width: 32px;
      height: 49px;
      top: 0;
      right: -32px; }
  @media only screen and (max-width: 980px) {
    header nav {
      position: relative; }
      header nav .icon {
        display: block; }
      header nav ul {
        border-radius: 0 0 10px 10px;
        display: none;
        position: absolute;
        width: 100%;
        background: #4f69b4;
        left: 0;
        top: 100%; }
        header nav ul li {
          display: block;
          border-bottom: 1px solid #687bbc;
          border-right: 0; }
          header nav ul li:last-of-type {
            border-bottom: none; } }
  header .icon {
    float: right;
    margin: 10px;
    width: 30px;
    height: 24px;
    position: relative;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    text-align: center; }
    header .icon span, header .icon:before, header .icon:after {
      content: "";
      display: block;
      position: absolute;
      background: #fff;
      height: 4px;
      width: 100%;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    header .icon:before {
      top: 0; }
    header .icon:after {
      bottom: 0; }
    header .icon span {
      top: 50%;
      margin-top: -2px; }
    header .icon.open:before {
      -ms-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      top: 10px; }
    header .icon.open:after {
      bottom: 10px;
      -ms-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    header .icon.open span {
      left: -100%;
      filter: alpha(opacity=0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0;
      margin-top: -2px; }
  header .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: white; }
    header .content .left {
      width: 50%;
      padding-left: 160px; }
      header .content .left span {
        font-size: 48px;
        font-weight: 700;
        margin-top: 30px;
        display: inline-block;
        margin-bottom: 5px; }
      header .content .left a {
        display: block;
        margin-left: -160px; }
      header .content .left p {
        font-size: 18px;
        max-width: 400px;
        margin: 0; }
    header .content .right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 50%; }
      header .content .right img {
        border: 1px solid white;
        border-radius: 1px;
        margin-bottom: 27px; }
        header .content .right img:nth-child(odd) {
          margin-right: 30px; }

.inf-videos-head {
  min-height: 505px;
  background: url("../img/bg2.jpg");
  background-size: cover;
  color: white;
  position: relative; }
  .inf-videos-head:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 16px;
    border-color: transparent transparent #e9ecf1 transparent;
    position: absolute;
    bottom: 0;
    left: calc(50% - 16px); }
  .inf-videos-head .container {
    max-width: 1370px;
    text-align: center;
    padding: 110px 0 85px; }
  .inf-videos-head h2 {
    font-family: "Droid Serif";
    font-size: 72px;
    font-weight: 400;
    margin: 0 0 50px; }
  .inf-videos-head .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .inf-videos-head .wrap > div {
      width: 33.33%;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    .inf-videos-head .wrap span {
      width: 70px;
      height: 70px;
      background: #ffd321;
      color: #622700;
      font-size: 28px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 100%; }
    .inf-videos-head .wrap p {
      font-size: 17.7px;
      line-height: 20.5px;
      max-width: 70%; }

.inf-videos {
  padding: 85px 0 80px;
  background: #e9ecf1; }
  .inf-videos .container {
    max-width: 1370px;
    text-align: center; }
    .inf-videos .container > a {
      margin-top: 20px;
      display: inline-block;
      background: #5097d7;
      background-image: -webkit-linear-gradient(top, #5097d7, #396ec7);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#5097d7), to(#396ec7));
      background-image: linear-gradient(to bottom, #5097d7, #396ec7);
      border-radius: 10px;
      -webkit-box-shadow: 0px 1px 3px #2e6648;
      box-shadow: 0px 1px 3px #2e6648;
      color: #ffffff;
      font-size: 20px;
      padding: 15px 35px 15px 35px;
      border: solid #8caddd 2px;
      text-decoration: none; }
      .inf-videos .container > a:hover {
        background: #417aab;
        background-image: -webkit-linear-gradient(top, #417aab, #2f5ca3);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#417aab), to(#2f5ca3));
        background-image: linear-gradient(to bottom, #417aab, #2f5ca3);
        text-decoration: none; }
  .inf-videos .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 45px;
    border-bottom: 1px solid #b2b4b8; }
    .inf-videos .wrap .item {
      width: 32%;
      margin-right: 2%;
      padding-bottom: 20px;
      margin-bottom: 30px; }
      .inf-videos .wrap .item:nth-child(3n+3) {
        margin-right: 0; }
      .inf-videos .wrap .item .preview {
        width: 100%;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .inf-videos .wrap .item .preview img {
          width: 100%;
          height: auto; }
        .inf-videos .wrap .item .preview a {
          position: absolute; }
          .inf-videos .wrap .item .preview a .play {
            width: initial; }
      .inf-videos .wrap .item h3 {
        font-size: 24px;
        color: #4482cf;
        font-family: "PT Serif";
        margin-bottom: 10px; }
  .inf-videos p {
    font-size: 17.7px;
    line-height: 20.5px;
    margin-top: 0; }
    .inf-videos p.italic {
      font-style: italic; }

.draw-animation-head {
  min-height: 505px;
  background: url("../img/bg3.jpg");
  background-size: cover;
  position: relative; }
  .draw-animation-head:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 16px;
    border-color: transparent transparent #f2eeec transparent;
    position: absolute;
    bottom: 0;
    left: calc(50% - 16px); }
  .draw-animation-head .container {
    max-width: 1370px;
    text-align: center;
    padding: 110px 0 85px;
    color: white; }
  .draw-animation-head h2 {
    font-family: "Droid Serif";
    font-size: 72px;
    font-weight: 400;
    margin: 0 0 50px;
    text-shadow: 4px 4px 0px rgba(163, 79, 0, 0.92); }
  .draw-animation-head .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .draw-animation-head .wrap > div {
      width: 33.33%;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    .draw-animation-head .wrap span {
      width: 70px;
      height: 70px;
      background: #7f03a3;
      font-size: 28px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 100%; }
    .draw-animation-head .wrap p {
      font-size: 17.7px;
      line-height: 20.5px;
      max-width: 70%; }

.draw-animation {
  padding: 85px 0 80px;
  background: url("../img/bg4.jpg") left top; }
  .draw-animation .container {
    max-width: 1370px;
    text-align: center; }
    .draw-animation .container > a {
      margin-top: 20px;
      display: inline-block;
      background: #3aa85d;
      background-image: -webkit-linear-gradient(top, #3aa85d, #288546);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#3aa85d), to(#288546));
      background-image: linear-gradient(to bottom, #3aa85d, #288546);
      border-radius: 10px;
      color: #ffffff;
      font-size: 20px;
      padding: 15px 35px 15px 35px;
      text-decoration: none; }
      .draw-animation .container > a:hover {
        background: #339152;
        background-image: -webkit-linear-gradient(top, #339152, #226e3a);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#339152), to(#226e3a));
        background-image: linear-gradient(to bottom, #339152, #226e3a);
        text-decoration: none; }
  .draw-animation .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 45px;
    border-bottom: 1px solid #b2b4b8; }
    .draw-animation .wrap .item {
      width: 32%;
      margin-right: 2%;
      padding-bottom: 20px;
      margin-bottom: 30px; }
      .draw-animation .wrap .item:nth-child(3n+3) {
        margin-right: 0; }
      .draw-animation .wrap .item .preview {
        width: 100%;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .draw-animation .wrap .item .preview img {
          width: 100%;
          height: auto; }
        .draw-animation .wrap .item .preview a {
          position: absolute; }
          .draw-animation .wrap .item .preview a .play {
            width: initial; }
      .draw-animation .wrap .item h3 {
        font-size: 24px;
        color: #2d9c3f;
        font-family: "PT Serif";
        margin-bottom: 10px; }
  .draw-animation p {
    font-size: 17.7px;
    line-height: 20.5px;
    margin-top: 0; }
    .draw-animation p.italic {
      font-style: italic; }

.vol-animation-head {
  min-height: 490px;
  background: url("../img/bg6.jpg");
  background-size: cover;
  position: relative; }
  .vol-animation-head:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 16px;
    border-color: transparent transparent #f8f2f2 transparent;
    position: absolute;
    bottom: 0;
    left: calc(50% - 16px); }
  .vol-animation-head .container {
    max-width: 1370px;
    text-align: center;
    padding: 90px 0 75px;
    color: white; }
  .vol-animation-head h2 {
    font-family: "Droid Serif";
    font-size: 72px;
    font-weight: 400;
    margin: 0 0 50px; }
  .vol-animation-head .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .vol-animation-head .wrap > div {
      width: 33.33%;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    .vol-animation-head .wrap span {
      width: 70px;
      height: 70px;
      background: #b4009d;
      font-size: 28px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 100%; }
    .vol-animation-head .wrap p {
      font-size: 17.7px;
      line-height: 20.5px;
      max-width: 70%; }

.vol-animation {
  padding: 85px 0 80px;
  background: #f8f2f2; }
  .vol-animation .container {
    max-width: 1370px;
    text-align: center; }
    .vol-animation .container > a {
      margin-top: 20px;
      display: inline-block;
      background: #973b6b;
      background-image: -webkit-linear-gradient(top, #973b6b, #8a294b);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#973b6b), to(#8a294b));
      background-image: linear-gradient(to bottom, #973b6b, #8a294b);
      border-radius: 10px;
      color: #ffffff;
      font-size: 20px;
      padding: 15px 35px 15px 35px;
      text-decoration: none; }
      .vol-animation .container > a:hover {
        background: #873661;
        background-image: -webkit-linear-gradient(top, #873661, #782443);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#873661), to(#782443));
        background-image: linear-gradient(to bottom, #873661, #782443);
        text-decoration: none; }
  .vol-animation .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 45px;
    border-bottom: 1px solid #b2b4b8; }
    .vol-animation .wrap .item {
      width: 32%;
      margin-right: 2%;
      padding-bottom: 20px;
      margin-bottom: 30px; }
      .vol-animation .wrap .item:nth-child(3n+3) {
        margin-right: 0; }
      .vol-animation .wrap .item .preview {
        width: 100%;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .vol-animation .wrap .item .preview img {
          width: 100%;
          height: auto; }
        .vol-animation .wrap .item .preview a {
          position: absolute; }
          .vol-animation .wrap .item .preview a .play {
            width: initial; }
      .vol-animation .wrap .item h3 {
        font-size: 24px;
        color: #ca5b5b;
        font-family: "PT Serif";
        margin-bottom: 10px; }
  .vol-animation p {
    font-size: 17.7px;
    line-height: 20.5px;
    margin-top: 0; }
    .vol-animation p.italic {
      font-style: italic; }

.promo {
  margin-top: 5px;
  background: #eaefe1;
  padding: 105px 0 110px; }
  .promo .dragon {
    background: url("../img/dragon.png") no-repeat transparent;
    max-width: 1700px;
    margin: 0 auto;
    background-position-y: 210px; }
  .promo .container {
    max-width: 1360px; }
  .promo .top {
    width: 100%;
    color: white; }
    .promo .top .quote {
      background: #3b8c4c;
      width: 263px;
      padding: 15px 20px 20px;
      border-radius: 10px;
      position: relative; }
      .promo .top .quote:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 35px 32px 0;
        border-color: transparent #3b8c4c transparent transparent;
        bottom: -32px;
        right: 32px; }
      .promo .top .quote p {
        font-weight: 700;
        font-size: 16.7px;
        margin: 0;
        line-height: auto; }
        .promo .top .quote p span {
          font-size: 26.8px;
          line-height: 26px; }
  .promo .middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .promo .middle .wrap {
      max-width: 940px; }
      .promo .middle .wrap h2 {
        font-size: 69px;
        color: #2d9c3f;
        font-weight: 700;
        text-align: center;
        margin: 0;
        line-height: 69px;
        margin-top: -25px;
        margin-bottom: 15px; }
      .promo .middle .wrap .tabs_accordion {
        display: block;
        line-height: 0; }
      .promo .middle .wrap .tabs_accordion > input {
        position: relative;
        left: -50000px;
        height: 0px;
        line-height: 0; }
      .promo .middle .wrap .tabs_accordion > input:nth-child(1):checked ~ ul.tabs > li:nth-of-type(1) {
        background: white; }
        .promo .middle .wrap .tabs_accordion > input:nth-child(1):checked ~ ul.tabs > li:nth-of-type(1) label {
          opacity: 1;
          color: #333333; }
      .promo .middle .wrap .tabs_accordion > input:nth-child(1):checked ~ div.content > label:nth-of-type(1) {
        color: white;
        background: #42495f; }
      .promo .middle .wrap .tabs_accordion > input:nth-child(1):checked ~ div.content > div:nth-of-type(1) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        border-top: none; }
      .promo .middle .wrap .tabs_accordion > input:nth-child(2):checked ~ ul.tabs > li:nth-of-type(2) {
        background: white; }
        .promo .middle .wrap .tabs_accordion > input:nth-child(2):checked ~ ul.tabs > li:nth-of-type(2) label {
          opacity: 1;
          color: #333333; }
      .promo .middle .wrap .tabs_accordion > input:nth-child(2):checked ~ div.content > label:nth-of-type(2) {
        color: white;
        background: #42495f; }
      .promo .middle .wrap .tabs_accordion > input:nth-child(2):checked ~ div.content > div:nth-of-type(2) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        border-top: none; }
      .promo .middle .wrap .tabs_accordion > input:nth-child(3):checked ~ ul.tabs > li:nth-of-type(3) {
        background: white; }
        .promo .middle .wrap .tabs_accordion > input:nth-child(3):checked ~ ul.tabs > li:nth-of-type(3) label {
          opacity: 1;
          color: #333333; }
      .promo .middle .wrap .tabs_accordion > input:nth-child(3):checked ~ div.content > label:nth-of-type(3) {
        color: white;
        background: #42495f; }
      .promo .middle .wrap .tabs_accordion > input:nth-child(3):checked ~ div.content > div:nth-of-type(3) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        border-top: none; }
      .promo .middle .wrap .tabs_accordion ul.tabs {
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      .promo .middle .wrap .tabs_accordion ul.tabs li {
        width: 33%;
        cursor: pointer;
        list-style-type: none;
        background: #2d9c3f;
        border-radius: 10px 10px 0 0; }
      .promo .middle .wrap .tabs_accordion ul.tabs li label {
        padding: 18px 30px 22px;
        color: white;
        cursor: pointer;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      .promo .middle .wrap .tabs_accordion ul.tabs li label:focus {
        color: white; }
      .promo .middle .wrap .tabs_accordion ul.tabs li:hover label {
        color: white;
        opacity: 1; }
      .promo .middle .wrap .tabs_accordion div.content {
        z-index: 99;
        margin-top: -8px;
        position: relative; }
        .promo .middle .wrap .tabs_accordion div.content > label {
          display: block;
          background-color: white;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 1em;
          cursor: pointer;
          -moz-user-select: -moz-none;
          -ms-user-select: none;
          -webkit-user-select: none;
          user-select: none; }
      .promo .middle .wrap .tabs_accordion div.content > div {
        margin-bottom: 0;
        min-height: 420px;
        background: white;
        padding: 20px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        border-radius: 10px; }
        .promo .middle .wrap .tabs_accordion div.content > div .left {
          width: 56%; }
        .promo .middle .wrap .tabs_accordion div.content > div .right {
          width: 40%; }
          .promo .middle .wrap .tabs_accordion div.content > div .right img {
            width: 100%;
            height: auto; }
        .promo .middle .wrap .tabs_accordion div.content > div p {
          margin: 0;
          font-size: 17px;
          line-height: 20px;
          margin-bottom: 15px; }
      .promo .middle .wrap .tabs_accordion div.content > div {
        display: none; }
      @media screen and (min-width: 500px) {
        .promo .middle .wrap .tabs_accordion ul.tabs {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 0;
          z-index: 1; }
        .promo .middle .wrap .tabs_accordion div.content > label {
          display: none; } }
  .promo .bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 115px;
    color: white; }
    .promo .bottom div {
      width: 32%;
      background: #6e0127;
      border-radius: 10px;
      padding: 15px 30px; }
      .promo .bottom div:last-of-type {
        background: url("../img/3-top.png") top center no-repeat, url("../img/3-bottom.png") bottom center no-repeat #6d0031; }
      .promo .bottom div:first-of-type {
        background: url("../img/1-top.png") top center no-repeat, url("../img/1-bottom.png") bottom center no-repeat #860227; }
      .promo .bottom div span {
        font-size: 18.46px;
        font-weight: 700; }
      .promo .bottom div p {
        font-size: 18px;
        line-height: 21px;
        margin: 10px 0 0; }

.about {
  margin-top: 5px;
  background: url("../img/bg7.jpg"); }
  .about .container {
    max-width: 1735px;
    padding-top: 60px;
    padding-bottom: 160px; }
  .about .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 185px; }
    .about .info h1 {
      font-family: "PT Serif";
      font-size: 51.56px;
      color: #31040e;
      margin: 0;
      font-weight: 400;
      padding-left: 110px;
      margin-bottom: 25px; }
    .about .info span {
      font-size: 24px;
      color: #a12020;
      font-weight: 700; }
    .about .info p {
      width: 530px;
      color: #050000;
      font-size: 22px;
      line-height: 26.5px;
      margin: 0; }
  .about .left {
    width: 48%; }
    .about .left .item {
      padding-left: 110px;
      position: relative;
      margin-bottom: 70px; }
      .about .left .item:first-of-type:before {
        content: '1';
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background: #14c93a;
        font-size: 28px;
        font-weight: 700;
        color: white;
        left: 0;
        text-align: center;
        line-height: 47px; }
      .about .left .item:last-of-type:before {
        content: '2';
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background: #417cdf;
        font-size: 28px;
        font-weight: 700;
        color: white;
        left: 0;
        text-align: center;
        line-height: 47px; }
  .about .right {
    width: 48%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 55px; }
    .about .right .item {
      padding-left: 85px;
      position: relative;
      margin-top: 70px; }
      .about .right .item:first-of-type:before {
        content: '3';
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background: #ea2687;
        font-size: 28px;
        font-weight: 700;
        color: white;
        left: 0;
        text-align: center;
        line-height: 47px; }
      .about .right .item:last-of-type:before {
        content: '4';
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background: #e5b141;
        font-size: 28px;
        font-weight: 700;
        color: white;
        left: 0;
        text-align: center;
        line-height: 47px; }
  .about .team .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 20px; }
    .about .team .wrap .item {
      width: 32%;
      margin-right: 2%; }
      .about .team .wrap .item:nth-child(3n+3) {
        margin-right: 0; }
      .about .team .wrap .item .preview {
        width: 100%; }
        .about .team .wrap .item .preview img {
          width: 100%;
          height: auto;
          border-radius: 15px; }
      .about .team .wrap .item > span {
        font-size: 24px;
        font-weight: 700;
        color: #a12020;
        display: inline-block;
        margin: 20px 0 0; }
      .about .team .wrap .item p {
        font-size: 22px;
        margin: 0;
        line-height: 26.5px; }
        .about .team .wrap .item p .italic {
          font-style: italic; }

footer {
  min-height: 1415px;
  background: url("../img/bg-foot.jpg") center no-repeat transparent;
  background-size: cover;
  padding: 170px 0; }
  footer .container {
    max-width: 800px;
    height: 960px;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 10px; }
  footer .head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 245px;
    padding: 25px 80px 25px 180px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative; }
    footer .head img {
      position: absolute;
      left: 30px;
      top: -55px; }
    footer .head p {
      font-size: 27px;
      line-height: 35.46px;
      margin: 0;
      text-indent: -10px; }
  footer form {
    max-width: 446px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 38px; }
    footer form input[type=text], footer form textarea {
      height: 48px;
      background: rgba(255, 255, 255, 0.78);
      border: none;
      margin-bottom: 25px;
      padding: 10px 20px;
      width: 100%; }
    footer form textarea {
      height: 180px;
      margin-top: 25px;
      margin-bottom: 20px; }
    footer form input[type=submit] {
      cursor: pointer;
      display: inline-block;
      background: #3aa85d;
      background-image: -webkit-linear-gradient(top, #3aa85d, #288546);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#3aa85d), to(#288546));
      background-image: linear-gradient(to bottom, #3aa85d, #288546);
      border-radius: 10px;
      color: #ffffff;
      font-size: 20px;
      padding: 15px 35px 15px 35px;
      text-decoration: none;
      -webkit-box-shadow: 0px 1px 3px #0b3f06;
      box-shadow: 0px 1px 3px #0b3f06;
      border: solid #53cc78 2px; }
      footer form input[type=submit]:hover {
        background: #339152;
        background-image: -webkit-linear-gradient(top, #339152, #226e3a);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#339152), to(#226e3a));
        background-image: linear-gradient(to bottom, #339152, #226e3a);
        text-decoration: none; }
  footer .foot {
    max-width: 446px;
    margin: 0 auto; }
    footer .foot span {
      font-size: 32px;
      line-height: 28px;
      display: inline-block;
      margin-bottom: 10px;
      letter-spacing: 2.5px; }
    footer .foot p {
      margin: 0;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 8px; }
      footer .foot p a {
        text-decoration: none;
        color: #4482cf; }

/*REMODAL*/
.remodal-wrapper {
  padding: 120px 10px; }
  .remodal-wrapper .name {
    font-size: 45px;
    color: #cbc7d5;
    position: absolute;
    left: 0;
    top: -70px; }

.remodal {
  max-width: 1280px;
  padding: 0;
  background: transparent; }
  .remodal .line1 {
    color: #cbc7d5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 20px; }
    .remodal .line1 .left {
      width: 40%;
      font-size: 19.35px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .remodal .line1 .left .leftleft {
        width: 50%;
        font-weight: 700;
        padding-left: 70px; }
      .remodal .line1 .left .rightright {
        width: 50%; }
    .remodal .line1 .right {
      width: 50%;
      font-size: 19.35px;
      font-weight: 700;
      padding-left: 70px; }
  .remodal .line2 {
    background: #cbc7d5;
    border-radius: 10px;
    padding: 20px 70px 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left; }
    .remodal .line2 .left {
      width: 40%; }
      .remodal .line2 .left span {
        font-size: 30px;
        width: 100%;
        font-weight: 700; }
      .remodal .line2 .left p {
        font-size: 19.35px;
        width: 80%; }
    .remodal .line2 .right {
      width: 60%;
      padding-left: 55px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .remodal .line2 .right span {
        font-size: 30px;
        width: 100%;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 20px; }
      .remodal .line2 .right .leftleft {
        width: 25%; }
        .remodal .line2 .right .leftleft img {
          width: initial;
          border: 1px solid white; }
      .remodal .line2 .right .rightright {
        width: 75%;
        padding-left: 20px; }
        .remodal .line2 .right .rightright p {
          font-size: 19.35px;
          margin: 0 0 20px;
          width: 100%; }
        .remodal .line2 .right .rightright span {
          font-size: 19.35px;
          display: inline-block;
          margin-bottom: 5px; }
        .remodal .line2 .right .rightright a {
          font-size: 19.35px;
          color: #2c2cdb; }
  .remodal iframe {
    width: 1280px;
    height: 718px; }

.remodal-close {
  right: 0;
  left: inherit;
  top: -46px; }

.remodal-close:before {
  font-size: 50px;
  color: #cbc7d5; }

.remodal-bg {
  background: rgba(53, 53, 83, 0.9); }

.draw-animation .wrap .item, .vol-animation .wrap .item, .inf-videos .wrap .item {
  cursor: pointer; }

@media (max-width: 1680px) {
  header .container {
    max-width: 96%; }

  header .content .right img {
    width: 45%; }

  .promo .container {
    max-width: 95%; }

  .promo .bottom div {
    background-size: contain !important; }

  .about .container {
    max-width: 95%; }

  .about img {
    width: 90%; } }
@media (max-width: 1440px) {
  header nav ul li {
    padding: 0 25px; }

  .promo .dragon {
    background-position-y: 210px;
    background-size: 38%; } }
@media (max-width: 1366px) {
  .inf-videos .container,
  .draw-animation .container,
  .vol-animation .container {
    max-width: 95%; }

  .promo .dragon {
    background-position-y: 210px;
    background-size: 38%; }

  .promo .bottom {
    margin-top: 60px; } }
@media (max-width: 1280px) {
  .promo .top {
    display: none; }

  .promo .dragon {
    background: transparent; }

  .promo .middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  .about .left .item {
    padding-left: 70px; }

  .about .right .item {
    padding-left: 70px; }

  .about .info {
    margin-bottom: 120px; }

  .about .container {
    padding-bottom: 100px; }

  header .content .right {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

  header .content .right img {
    width: 60%; }

  header .content .right img:nth-child(odd) {
    display: none; }

  header nav {
    margin: 0 30px 60px; } }
@media (max-width: 1024px) {
  header {
    min-height: 1005px;
    padding-bottom: 40px; }

  header nav ul li {
    padding: 0 15px; }

  header .content .left p {
    max-width: 100%; }

  header nav ul li a {
    font-size: 14px; }

  header .content .right {
    display: none; }

  header .content .left {
    width: 60%;
    padding-left: 0;
    margin: 0 auto; }

  header .content .left a {
    display: block;
    margin-left: -60px; }

  .inf-videos .wrap .item h3,
  .draw-animation .wrap .item h3,
  .vol-animation .wrap .item h3 {
    font-size: 18px; }

  .inf-videos p, .vol-animation p, .draw-animation p {
    font-size: 16px; }

  .draw-animation-head .wrap p,
  .vol-animation-head .wrap p,
  .inf-videos-head .wrap p {
    font-size: 16px; }

  .draw-animation .wrap .item,
  .vol-animation .wrap .item,
  .inf-videos .wrap .item {
    width: 32%;
    margin-right: 2%;
    padding-bottom: 10px;
    margin-bottom: 10px; }

  .promo .bottom div p {
    font-size: 16px;
    line-height: 20px; }

  .promo .bottom div span {
    font-size: 18px; }

  .about .left, .about .right {
    width: 100%; }

  .about .info {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .about .team .wrap .item p {
    font-size: 18px; }

  .about .container {
    max-width: 95%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  .about .info {
    display: -webkit-box;
    display: -webkit-flex;
    max-width: 90%;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  .about .right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .about img {
    width: 100%; }

  .about .right img {
    margin-top: 60px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }

  .about .info {
    margin-bottom: 60px; }

  header nav ul li a {
    padding: 12px;
    color: #bcc8ec;
    font-size: 18px;
    display: block; }

  header nav ul li a:hover:before,
  header nav ul li a:hover:after {
    display: none; }

  header nav {
    margin: 0 30px 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

  .inf-videos-head h2,
  .draw-animation-head h2,
  .vol-animation-head h2 {
    font-size: 48px; }

  .inf-videos-head .wrap > div,
  .vol-animation-head .wrap > div,
  .draw-animation-head .wrap > div {
    width: 80%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 20px; }

  .inf-videos-head .wrap,
  .vol-animation-head .wrap,
  .draw-animation-head .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  .draw-animation-head .wrap p, .vol-animation-head .wrap p, .inf-videos-head .wrap p {
    text-align: left;
    padding-left: 20px;
    width: 333px; }

  .vol-animation-head .container,
  .draw-animation-head .container,
  .inf-videos-head .container {
    padding: 60px 0; }

  header .content .left a img {
    width: 100%; }

  .promo .bottom {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .promo .bottom div {
      width: 60%;
      margin-bottom: 20px; }
    .promo .bottom .about .info {
      max-width: 95%; }
    .promo .bottom .about .info h1 {
      text-align: center;
      padding: 0; }
    .promo .bottom footer .container {
      max-width: 95%; } }
@media (max-width: 540px) {
  header .content .left {
    width: 96%; }

  header .content .left a {
    margin-left: 0; }

  header nav {
    margin: 0 30px 30px; }

  header .content .left span {
    font-size: 24px; }

  header .content .left p {
    font-size: 15px; }

  header {
    min-height: 500px;
    padding-bottom: 50px; }

  .inf-videos-head h2, .draw-animation-head h2, .vol-animation-head h2 {
    font-size: 24px;
    margin: 0 0 20px; }

  .inf-videos-head .wrap span,
  .draw-animation-head .wrap span,
  .vol-animation-head .wrap span {
    width: 30px;
    height: 30px;
    font-size: 20px; }

  .draw-animation-head .wrap p, .vol-animation-head .wrap p, .inf-videos-head .wrap p {
    text-align: left;
    padding-left: 15px;
    width: 80%;
    font-size: 16px; }
    .draw-animation-head .wrap p br, .vol-animation-head .wrap p br, .inf-videos-head .wrap p br {
      display: none; }

  .inf-videos-head,
  .draw-animation-head,
  .vol-animation-head {
    min-height: 305px; }

  .vol-animation-head .container, .draw-animation-head .container, .inf-videos-head .container {
    padding: 40px 0; }

  .inf-videos-head .wrap > div, .vol-animation-head .wrap > div, .draw-animation-head .wrap > div {
    margin-bottom: 10px;
    width: 100%; }

  .draw-animation .wrap .item, .vol-animation .wrap .item, .inf-videos .wrap .item {
    width: 100%; }

  .vol-animation,
  .draw-animation,
  .inf-videos {
    padding: 40px 0 40px; }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
    width: 100%; }

  .promo .middle .wrap h2 {
    font-size: 32px;
    line-height: auto; }

  .promo .middle .wrap .tabs_accordion ul.tabs {
    display: none; }

  .promo .middle .wrap .tabs_accordion div.content > label {
    margin-top: 10px;
    padding: 18px 30px 22px;
    color: gray;
    cursor: pointer;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0; }

  .promo .middle .wrap .tabs_accordion > input:nth-child(1):checked ~ div.content > label:nth-of-type(1),
  .promo .middle .wrap .tabs_accordion > input:nth-child(2):checked ~ div.content > label:nth-of-type(2),
  .promo .middle .wrap .tabs_accordion > input:nth-child(3):checked ~ div.content > label:nth-of-type(3) {
    background: #2d9c3f; }

  .promo .middle .wrap .tabs_accordion div.content > div .left, .promo .middle .wrap .tabs_accordion div.content > div .right {
    width: 100%; }

  .promo .middle .wrap .tabs_accordion div.content > div {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .promo .bottom div {
    width: 100%; }

  .vol-animation-head {
    background-position: 58%; }

  .about .info h1 {
    font-size: 26px;
    text-align: center;
    padding-left: 0; }

  .about .info {
    max-width: 100%; }

  .about .info span {
    font-size: 20px; }

  .about .info p {
    width: initial;
    font-size: 16px; }

  .about .left .item {
    padding-left: 65px;
    position: relative;
    margin-bottom: 30px; }

  .about .right .item {
    padding-left: 65px;
    position: relative;
    margin-top: 30px; }

  .about .team .wrap .item {
    width: 100%; }

  .about .info {
    margin-bottom: 20px; }

  .about .container {
    padding-bottom: 40px; }

  footer .container {
    max-width: 95%;
    height: 880px; }

  footer form {
    max-width: 90%; }

  footer .foot {
    max-width: 90%; }

  footer .head p {
    font-size: 20px;
    line-height: normal; }

  footer .head {
    height: auto;
    padding: 25px;
    text-align: center; }

  footer .head img {
    display: none; }

  footer {
    min-height: 500px;
    padding: 70px 0; }

  footer .foot span {
    font-size: 22px; }

  footer .foot p {
    font-size: 16px;
    line-height: 20px; }

  .about .team .wrap .item {
    margin-bottom: 25px; }

  footer .head p {
    font-size: 18px; }

  .remodal-wrapper .name {
    font-size: 22px;
    top: -45px; }

  .remodal iframe {
    width: 100%;
    height: 220px; }

  .remodal .line1 {
    flex-wrap: wrap;
    padding-top: 20px; }

  .remodal .line1 .left {
    width: 100%;
    font-size: 16px; }

  .remodal .line1 .left .leftleft {
    width: 50%;
    padding-left: 0; }

  .remodal .line1 .right {
    width: 100%;
    font-size: 16px;
    padding-left: 0; }

  .remodal .line2 {
    padding: 15px 15px;
    flex-wrap: wrap; }

  .remodal .line2 .left, .remodal .line2 .right {
    width: 100%;
    padding-left: 0; }
    .remodal .line2 .left span, .remodal .line2 .right span {
      font-size: 22px; }
    .remodal .line2 .left p, .remodal .line2 .right p {
      font-size: 16px;
      width: 100%; }

  .remodal .line2 .right .leftleft {
    width: 100%; }

  .remodal .line2 .right .rightright {
    width: 100%;
    padding-left: 0; }

  .remodal .line2 .right .rightright p {
    font-size: 16px;
    margin: 10px 0; }

  .remodal .line2 .right .rightright span {
    font-size: 16px; }

  .remodal .line2 .right .rightright a {
    font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
