@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700|PT+Sans:400,700|PT+Serif');
@import "normalize.css";
@import "colors";

header {
  min-height: 1205px;
  background: url("../img/bg.jpg") center no-repeat transparent;
  background-size: cover;
  .container {
    max-width: 1652px;
  }
  nav{
    height: 48px;
    margin: 0 30px 40px;
    background: url("../img/menu-bg.png") repeat-x transparent;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background: url("../img/left-menu-bg.png");
      width: 32px;
      height: 49px;
      top: 0;
      left: -32px;
    }
    &:after{
      content: '';
      position: absolute;
      background: url("../img/right-menu-bg.png");
      width: 32px;
      height: 49px;
      top: 0;
      right: -32px;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    color: white;
    .left {
      width: 50%;
      padding-left: 160px;
      span {
        font-size: 48px;
        font-weight: 700;
      }
      a {
        display: block;
        margin-left: -160px;
      }
      p {
        font-size: 18px;
        max-width: 400px;
      }
    }
    .right {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      img {
        border: 1px solid white;
        border-radius: 1px;
        &:nth-child(odd) {
          margin-right: 30px;
        }
        margin-bottom: 27px;
      }

    }
  }
}

.inf-videos-head {
  min-height: 505px;
  background: url("../img/bg2.jpg");
  background-size: cover;
  color: white;
  .container {
    max-width: 1370px;
    text-align: center;
    padding: 110px 0 85px;
  }
  h2 {
    font-family: "Droid Serif";
    font-size: 72px;
    font-weight: 400;
    margin: 0 0 50px;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    > div {
      width: 33.33%;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    span {
      width: 70px;
      height: 70px;
      background: $yellow;
      color: #622700;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }
    p {
      font-size: 17.7px;
      line-height: 20.5px;
    }
  }
}

.inf-videos {
  padding: 85px 0 80px;
  background: $gray-bg;
  .container {
    max-width: 1370px;
    text-align: center;
    > a {
      margin-top: 20px;
      display: inline-block;
      background: #5097d7;
      background-image: -webkit-linear-gradient(top, #5097d7, #396ec7);
      background-image: -moz-linear-gradient(top, #5097d7, #396ec7);
      background-image: -ms-linear-gradient(top, #5097d7, #396ec7);
      background-image: -o-linear-gradient(top, #5097d7, #396ec7);
      background-image: linear-gradient(to bottom, #5097d7, #396ec7);
      -webkit-border-radius: 10;
      -moz-border-radius: 10;
      border-radius: 10px;
      -webkit-box-shadow: 0px 1px 3px #2e6648;
      -moz-box-shadow: 0px 1px 3px #2e6648;
      box-shadow: 0px 1px 3px #2e6648;
      color: #ffffff;
      font-size: 20px;
      padding: 15px 35px 15px 35px;
      border: solid #8caddd 2px;
      text-decoration: none;
      &:hover {
        background: #417aab;
        background-image: -webkit-linear-gradient(top, #417aab, #2f5ca3);
        background-image: -moz-linear-gradient(top, #417aab, #2f5ca3);
        background-image: -ms-linear-gradient(top, #417aab, #2f5ca3);
        background-image: -o-linear-gradient(top, #417aab, #2f5ca3);
        background-image: linear-gradient(to bottom, #417aab, #2f5ca3);
        text-decoration: none;
      }
    }
  }
  .wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 45px;
    border-bottom: 1px solid #b2b4b8;
    .item {
      width: 32%;
      margin-right: 2%;
      padding-bottom: 20px;
      margin-bottom: 30px;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      .preview {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: auto;
        }
        a {
          position: absolute;
          .play {
            width: initial;
          }
        }
      }
      h3 {
        font-size: 24px;
        color: $blue;
        font-family: "PT Serif";
        margin-bottom: 10px;
      }
    }
  }
  p {
    font-size: 17.7px;
    line-height: 20.5px;
    margin-top: 0;
  }

}

.draw-animation-head {
  min-height: 505px;
  background: url("../img/bg3.jpg");
  background-size: cover;
  .container {
    max-width: 1370px;
    text-align: center;
    padding: 110px 0 85px;
    color: white;
  }
  h2 {
    font-family: "Droid Serif";
    font-size: 72px;
    font-weight: 400;
    margin: 0 0 50px;
    text-shadow: 4px 4px 0px rgba(163, 79, 0, 0.92);
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    > div {
      width: 33.33%;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    span {
      width: 70px;
      height: 70px;
      background: $purple;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }
    p {
      font-size: 17.7px;
      line-height: 20.5px;
      max-width: 70%;
    }
  }
}

.draw-animation {
  padding: 85px 0 80px;
  background: url("../img/bg4.jpg") left top;
  .container {
    max-width: 1370px;
    text-align: center;
    > a {
      margin-top: 20px;
      display: inline-block;
      background: #3aa85d;
      background-image: -webkit-linear-gradient(top, #3aa85d, #288546);
      background-image: -moz-linear-gradient(top, #3aa85d, #288546);
      background-image: -ms-linear-gradient(top, #3aa85d, #288546);
      background-image: -o-linear-gradient(top, #3aa85d, #288546);
      background-image: linear-gradient(to bottom, #3aa85d, #288546);
      -webkit-border-radius: 10;
      -moz-border-radius: 10;
      border-radius: 10px;
      color: #ffffff;
      font-size: 20px;
      padding: 15px 35px 15px 35px;
      text-decoration: none;
      &:hover {
        background: #339152;
        background-image: -webkit-linear-gradient(top, #339152, #226e3a);
        background-image: -moz-linear-gradient(top, #339152, #226e3a);
        background-image: -ms-linear-gradient(top, #339152, #226e3a);
        background-image: -o-linear-gradient(top, #339152, #226e3a);
        background-image: linear-gradient(to bottom, #339152, #226e3a);
        text-decoration: none;
      }
    }
  }
  .wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 45px;
    border-bottom: 1px solid #b2b4b8;
    .item {
      width: 32%;
      margin-right: 2%;
      padding-bottom: 20px;
      margin-bottom: 30px;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      .preview {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: auto;
        }
        a {
          position: absolute;
          .play {
            width: initial;
          }
        }
      }
      h3 {
        font-size: 24px;
        color: $green;
        font-family: "PT Serif";
        margin-bottom: 10px;
      }
    }

  }
  p {
    font-size: 17.7px;
    line-height: 20.5px;
    margin-top: 0;
  }
}

.vol-animation-head {
  min-height: 490px;
  background: url("../img/bg6.jpg");
  background-size: cover;
  .container {
    max-width: 1370px;
    text-align: center;
    padding: 90px 0 75px;
    color: white;
  }
  h2 {
    font-family: "Droid Serif";
    font-size: 72px;
    font-weight: 400;
    margin: 0 0 50px;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    > div {
      width: 33.33%;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    span {
      width: 70px;
      height: 70px;
      background: $pink;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }
    p {
      font-size: 17.7px;
      line-height: 20.5px;
      max-width: 70%;
    }
  }
}

.vol-animation {
  padding: 85px 0 80px;
  background: #f8f2f2;
  .container {
    max-width: 1370px;
    text-align: center;
    > a {
      margin-top: 20px;
      display: inline-block;
      background: #973b6b;
      background-image: -webkit-linear-gradient(top, #973b6b, #8a294b);
      background-image: -moz-linear-gradient(top, #973b6b, #8a294b);
      background-image: -ms-linear-gradient(top, #973b6b, #8a294b);
      background-image: -o-linear-gradient(top, #973b6b, #8a294b);
      background-image: linear-gradient(to bottom, #973b6b, #8a294b);
      -webkit-border-radius: 10;
      -moz-border-radius: 10;
      border-radius: 10px;
      color: #ffffff;
      font-size: 20px;
      padding: 15px 35px 15px 35px;
      text-decoration: none;
      &:hover {
        background: #873661;
        background-image: -webkit-linear-gradient(top, #873661, #782443);
        background-image: -moz-linear-gradient(top, #873661, #782443);
        background-image: -ms-linear-gradient(top, #873661, #782443);
        background-image: -o-linear-gradient(top, #873661, #782443);
        background-image: linear-gradient(to bottom, #873661, #782443);
        text-decoration: none;
      }
    }
  }
  .wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 45px;
    border-bottom: 1px solid #b2b4b8;
    .item {
      width: 32%;
      margin-right: 2%;
      padding-bottom: 20px;
      margin-bottom: 30px;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      .preview {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: auto;
        }
        a {
          position: absolute;
          .play {
            width: initial;
          }
        }
      }
      h3 {
        font-size: 24px;
        color: $red;
        font-family: "PT Serif";
        margin-bottom: 10px;
      }
    }

  }
  p {
    font-size: 17.7px;
    line-height: 20.5px;
    margin-top: 0;
  }
}

.promo {
  margin-top: 5px;
  background: $green-bg;
  padding: 105px 0 110px;
  .dragon {
    background: url("../img/dragon.png") no-repeat transparent;
    max-width: 1700px;
    margin: 0 auto;
    background-position-y: 210px;
  }
  .container {
    max-width: 1360px;
  }
  .top {
    width: 100%;
    color: white;
    .quote {
      background: #3b8c4c;
      width: 263px;
      padding: 15px 20px 20px;
      border-radius: 10px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 35px 32px 0;
        border-color: transparent #3b8c4c transparent transparent;
        bottom: -32px;
        right: 32px;
      }
      p {
        font-weight: 700;
        font-size: 16.7px;
        margin: 0;
        line-height: auto;
        span {
          font-size: 26.8px;
          line-height: 26px;
        }
      }

    }
  }
  .middle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .wrap {
      max-width: 940px;
      h2 {
        font-size: 69px;
        color: $green;
        font-weight: 700;
        text-align: center;
        margin: 0;
        line-height: 69px;
        margin-top: -25px;
        margin-bottom: 15px;
      }
      .tabs_accordion {
        display: block;
        line-height: 0;
      }
      .tabs_accordion > input {
        position: relative;
        left: -50000px;
        height: 0px;
        line-height: 0;
      }

      .tabs_accordion > input:nth-child(1):checked ~ ul.tabs > li:nth-of-type(1) {
        background: white;
        label {
          opacity: 1;
          color: #333333;
        }
      }
      .tabs_accordion > input:nth-child(1):checked ~ div.content > label:nth-of-type(1) {
        color: white;
        background: #42495f;
      }
      .tabs_accordion > input:nth-child(1):checked ~ div.content > div:nth-of-type(1) {

        display: flex;
        border-top: none;
      }
      .tabs_accordion > input:nth-child(2):checked ~ ul.tabs > li:nth-of-type(2) {
        background: white;
        label {
          opacity: 1;
          color: #333333;
        }
      }
      .tabs_accordion > input:nth-child(2):checked ~ div.content > label:nth-of-type(2) {
        color: white;
        background: #42495f;
      }
      .tabs_accordion > input:nth-child(2):checked ~ div.content > div:nth-of-type(2) {

        display: flex;
        border-top: none;
      }
      .tabs_accordion > input:nth-child(3):checked ~ ul.tabs > li:nth-of-type(3) {
        background: white;
        label {
          opacity: 1;
          color: #333333;
        }
      }
      .tabs_accordion > input:nth-child(3):checked ~ div.content > label:nth-of-type(3) {
        color: white;
        background: #42495f;
      }
      .tabs_accordion > input:nth-child(3):checked ~ div.content > div:nth-of-type(3) {

        display: flex;
        border-top: none;
      }
      .tabs_accordion ul.tabs {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
      }
      .tabs_accordion ul.tabs li {
        width: 33%;
        cursor: pointer;
        list-style-type: none;
        background: $green;
        border-radius: 10px 10px 0 0;

      }
      .tabs_accordion ul.tabs li label {
        padding: 18px 30px 22px;
        color: white;
        cursor: pointer;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        width: 100%;
        height: 100%;
        display: flex;
        -webkit-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -o-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }
      .tabs_accordion ul.tabs li label:focus {
        color: white;
      }
      .tabs_accordion ul.tabs li:hover label {
        color: white;
        opacity: 1;
      }
      .tabs_accordion div.content {
        z-index: 99;
        margin-top: -8px;
        position: relative;
        > label {
          display: block;
          background-color: white;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 1em;
          cursor: pointer;
          -moz-user-select: -moz-none;
          -ms-user-select: none;
          -webkit-user-select: none;
          user-select: none;
        }

      }

      .tabs_accordion div.content > div {
        margin-bottom: 0;
        min-height: 420px;
        background: white;
        padding: 20px;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 10px;
        .left {
          width: 56%;
        }
        .right {
          width: 40%;
          img {
            width: 100%;
            height: auto;
          }
        }
        p {
          margin: 0;
          font-size: 17px;
          line-height: 20px;
          margin-bottom: 15px;
        }
      }
      .tabs_accordion div.content > div {
        display: none;
      }
      @media screen and (min-width: 500px) {
        .tabs_accordion ul.tabs {
          display: flex;
          margin-bottom: 0;
          z-index: 1;
        }
        .tabs_accordion div.content > label {
          display: none;
        }

      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 115px;
    color: white;
    div {
      width: 32%;
      background: #6e0127;
      border-radius: 10px;
      padding: 15px 30px;
      &:last-of-type {
        background: url("../img/3-top.png") top center no-repeat,
        url("../img/3-bottom.png") bottom center no-repeat #6d0031;
      }
      &:first-of-type {
        background: url("../img/1-top.png") top center no-repeat,
        url("../img/1-bottom.png") bottom center no-repeat #860227;
      }
      span {
        font-size: 18.46px;
        font-weight: 700;
      }

      p {
        font-size: 18px;
        line-height: 21px;
        margin: 10px 0 0;
      }
    }
  }
}

.about {
  margin-top: 5px;
  background: url("../img/bg7.jpg");
  .container {
    max-width: 1735px;
    padding-top: 60px;
    padding-bottom: 160px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 185px;
    h1 {
      font-family: "PT Serif";
      font-size: 51.56px;
      color: #31040e;
      margin: 0;
      font-weight: 400;
      padding-left: 110px;
      margin-bottom: 25px;
    }
    span {
      font-size: 24px;
      color: #a12020;
      font-weight: 700;
    }
    p {
      width: 530px;
      color: #050000;
      font-size: 22px;
      line-height: 26.5px;
      margin: 0;
    }
  }
  .left {
    width: 48%;
    .item {
      padding-left: 110px;
      position: relative;
      margin-bottom: 70px;
      &:first-of-type {
        &:before {
          content: '1';
          position: absolute;
          width: 48px;
          height: 48px;
          border-radius: 100%;
          background: #14c93a;
          font-size: 28px;
          font-weight: 700;
          color: white;
          left: 0;
          text-align: center;
          line-height: 47px;
        }
      }
      &:last-of-type {
        &:before {
          content: '2';
          position: absolute;
          width: 48px;
          height: 48px;
          border-radius: 100%;
          background: #417cdf;
          font-size: 28px;
          font-weight: 700;
          color: white;
          left: 0;
          text-align: center;
          line-height: 47px;

        }
      }
    }

  }
  .right {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 55px;
    .item {
      padding-left: 85px;
      position: relative;
      margin-top: 70px;
      &:first-of-type {
        &:before {
          content: '3';
          position: absolute;
          width: 48px;
          height: 48px;
          border-radius: 100%;
          background: #ea2687;
          font-size: 28px;
          font-weight: 700;
          color: white;
          left: 0;
          text-align: center;
          line-height: 47px;
        }
      }
      &:last-of-type {
        &:before {
          content: '4';
          position: absolute;
          width: 48px;
          height: 48px;
          border-radius: 100%;
          background: #e5b141;
          font-size: 28px;
          font-weight: 700;
          color: white;
          left: 0;
          text-align: center;
          line-height: 47px;
        }
      }
    }
  }

  .team {
    .wrap {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-bottom: 20px;
      .item {
        width: 32%;
        margin-right: 2%;
        &:nth-child(3n+3) {
          margin-right: 0;
        }
        .preview {
          width: 100%;
          img {
            width: 100%;
            height: auto;
            border-radius: 15px;
          }
        }
        span {
          font-size: 24px;
          font-weight: 700;
          color: #a12020;
          display: inline-block;
          margin: 20px 0 0;
        }
        p {
          font-size: 22px;
          margin: 0;
          line-height: 26.5px;
        }
      }

    }
  }
}

footer {
  min-height: 1415px;
  background: url("../img/bg-foot.jpg") center no-repeat transparent;
  background-size: cover;
  padding: 170px 0;
  .container {
    max-width: 800px;
    height: 960px;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 10px;
  }
  .head {
    display: flex;
    height: 245px;
    padding: 25px 80px 25px 180px;
    align-items: flex-end;
    position: relative;
    img{
      position: absolute;
      left: 30px;
      top: -55px;
    }
    p{
      font-size: 27px;
      line-height: 35.46px;
      margin: 0;
    }
  }
  form {
    max-width: 446px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    input[type=text], textarea {
      height: 48px;
      background: rgba(255, 255, 255, 0.78);
      border: none;
      margin-bottom: 25px;
      padding: 10px 20px;
      width: 100%;
    }
    textarea {
      height: 180px;
      margin-top: 25px;
      margin-bottom: 20px;
    }
    input[type=submit] {
      cursor: pointer;
      display: inline-block;
      background: #3aa85d;
      background-image: -webkit-linear-gradient(top, #3aa85d, #288546);
      background-image: -moz-linear-gradient(top, #3aa85d, #288546);
      background-image: -ms-linear-gradient(top, #3aa85d, #288546);
      background-image: -o-linear-gradient(top, #3aa85d, #288546);
      background-image: linear-gradient(to bottom, #3aa85d, #288546);
      -webkit-border-radius: 10;
      -moz-border-radius: 10;
      border-radius: 10px;
      color: #ffffff;
      font-size: 20px;
      padding: 15px 35px 15px 35px;
      text-decoration: none;
      -webkit-box-shadow: 0px 1px 3px #0b3f06;
      -moz-box-shadow: 0px 1px 3px #0b3f06;
      box-shadow: 0px 1px 3px #0b3f06;
      border: solid #53cc78 2px;
      &:hover {
        background: #339152;
        background-image: -webkit-linear-gradient(top, #339152, #226e3a);
        background-image: -moz-linear-gradient(top, #339152, #226e3a);
        background-image: -ms-linear-gradient(top, #339152, #226e3a);
        background-image: -o-linear-gradient(top, #339152, #226e3a);
        background-image: linear-gradient(to bottom, #339152, #226e3a);
        text-decoration: none;
      }

    }
    margin-bottom: 38px;
  }
  .foot {
    max-width: 446px;
    margin: 0 auto;
    span{
      font-size: 32px;
      line-height: 28px;
      display: inline-block;
      margin-bottom: 10px;
    }
    p{
      margin: 0;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 8px;
      a{
        text-decoration: none;
        color: $blue;
      }
    }
  }
}





















