@media (max-width: 1680px) {
  header .container {
    max-width: 96%;
  }

  header .content .right img {
    width: 45%;
  }

  .promo .container {
    max-width: 95%;
  }
  .promo .bottom div {
    background-size: contain !important;
  }
  .about .container {
    max-width: 95%;
  }

  .about img {
    width: 90%;
  }
}

@media (max-width: 1440px) {

  header nav ul li {
    padding: 0 25px;
  }

  .promo .dragon {
    background-position-y: 210px;
    background-size: 38%;
  }
}