/*--------------------FONTS----------------------*/
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800; }
/*--------------------COLORS----------------------*/
.noscroll {
  overflow: hidden;
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  font-family: PTSansRegular;
  font-size: 16px;
  color: #393939; }
  body .overlay-active {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    background: black;
    opacity: 0.6; }

input, textarea {
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  header .head {
    margin: 0 6%;
    margin-top: 15px;
    position: absolute;
    z-index: 8;
    width: 88%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    left: 0; }
    header .head .booking-btn {
      width: 48px;
      height: 48px;
      background: url("../img/booking-ico.png") center center #bc9d71 no-repeat; }
    header .head .menu {
      width: 48px; }
  header #owl-head .owl-stage .owl-item .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    header #owl-head .owl-stage .owl-item .item div {
      width: 100%; }
    header #owl-head .owl-stage .owl-item .item p {
      z-index: 9999;
      position: absolute;
      bottom: 30px;
      color: white;
      font-size: 20px;
      width: 100%;
      text-align: center; }
    header #owl-head .owl-stage .owl-item .item h1 {
      z-index: 9999;
      position: absolute;
      text-align: center;
      color: white;
      bottom: 15%;
      font-size: 42px;
      text-transform: uppercase;
      width: 100%; }
      header #owl-head .owl-stage .owl-item .item h1 span {
        font-size: 20px; }
  header #owl-head .owl-controls .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 15;
    position: absolute;
    bottom: 11px;
    width: 100%; }
    header #owl-head .owl-controls .owl-dots .owl-dot {
      display: inline-block;
      zoom: 1;
      *display: inline; }
      header #owl-head .owl-controls .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
        margin: 5px;
        background: transparent;
        border: 1px solid white;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        -webkit-backface-visibility: visible;
        -webkit-transition: opacity 200ms ease;
        -o-transition: opacity 200ms ease;
        -moz-transition: opacity 200ms ease;
        transition: opacity 200ms ease;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      header #owl-head .owl-controls .owl-dots .owl-dot.active span, header #owl-head .owl-controls .owl-dots .owl-dot:hover span {
        background: white; }
  header .buttons {
    width: 88%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 16px 0; }
    header .buttons button {
      width: 32%;
      height: 48px;
      background: transparent;
      border: 1px #bc9d71 solid;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #bc9d71;
      font-size: 14px;
      padding: 0; }

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 30px; }
  main .container {
    width: 88%; }
    main .container > p {
      text-align: center;
      margin-top: 8px;
      margin-bottom: 24px; }
      main .container > p span {
        font-weight: 800;
        color: #bc9d71; }
    main .container button {
      width: 100%;
      height: 48px;
      background: #bc9d71;
      color: white;
      border: none;
      font-size: 16px;
      margin-bottom: 16px; }
      main .container button img {
        margin-right: 10px; }

/* Styles for Accordion */
.toggle:last-child {
  border-bottom: 1px solid #bc9d71; }
.toggle .toggle-title {
  position: relative;
  display: block;
  border-top: 1px solid #bc9d71;
  margin-bottom: 6px; }
  .toggle .toggle-title h3 {
    font-size: 16px;
    margin: 0px;
    line-height: 1;
    cursor: pointer;
    font-weight: 200; }
.toggle .toggle-inner {
  padding: 3px 0 10px 0;
  display: none; }
  .toggle .toggle-inner img {
    width: 100%; }
  .toggle .toggle-inner p {
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    margin-top: 7px; }
.toggle .toggle-title {
  margin: 0; }
  .toggle .toggle-title .title-name {
    height: 48px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .toggle .toggle-title a i {
    font-size: 22px;
    margin-right: 5px; }
  .toggle .toggle-title i {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #bc9d71 transparent transparent transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 20px;
    right: 0; }
  .toggle .toggle-title.active i {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #bc9d71 transparent; }

/* Styles for Menu */
.menumobile {
  overflow-y: auto;
  background: #393939;
  position: fixed;
  width: 72%;
  padding: 0 5%;
  height: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  display: block; }
  .menumobile .lang {
    height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px 0 24px 0;
    width: 50%;
    float: left; }
    .menumobile .lang a {
      height: 100%;
      width: 32px;
      border: 1px #4d4d4d solid;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #bc9d71;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 8px;
      font-size: 16px;
      text-decoration: none; }
      .menumobile .lang a.active {
        border: none;
        background: white;
        color: #393939; }
  .menumobile button {
    width: 100%;
    height: 48px;
    background: transparent;
    border: 2px #bc9d71 solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #bc9d71;
    font-size: 16px;
    margin-bottom: 24px; }
  .menumobile .list {
    width: 100%; }
    .menumobile .list a {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      height: 48px;
      border-bottom: 1px solid #4d4d4d;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      padding-left: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .menumobile .list a:nth-child(1) {
        border-top: 1px solid #4d4d4d; }
      .menumobile .list a:hover {
        background: #4d4d4d; }
  .menumobile .close-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-top: 16px;
    float: right; }
    .menumobile .close-menu:before {
      content: "";
      width: 32px;
      height: 32px;
      background: url("../img/cross.png") center center #393939 no-repeat; }
  .menumobile.menuoff {
    margin-left: -84%; }

.menumobile, .menuoff, .menutoggle, .close-menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.menutoggle {
  left: 0;
  position: absolute;
  cursor: pointer;
  z-index: 999; }
  .menutoggle:before {
    content: "";
    position: absolute;
    left: 0;
    width: 48px;
    height: 48px;
    background: url("../img/burger.png") center center white no-repeat; }

/*--------------------left---------------------*/
.spahotel main .container p, .home main .container p, .restaurant main .container p {
  text-align: left;
  line-height: 26px; }

/*--------------------BOOKING---------------------*/
.booking header, .feedback header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .booking header .head, .feedback header .head {
    margin-top: 15px;
    position: relative;
    z-index: 8;
    width: 88%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .booking header .head .back-btn, .feedback header .head .back-btn {
      width: 48px;
      height: 48px;
      background: url("../img/back-btn.png") center center #bc9d71 no-repeat; }
    .booking header .head .menu, .feedback header .head .menu {
      width: 48px; }
.booking main .container .sale, .feedback main .container .sale {
  border: 2px solid #bc9d71;
  padding: 0 10px;
  margin: 20px 0 30px 0; }
  .booking main .container .sale h3, .feedback main .container .sale h3 {
    font-weight: 700;
    margin: 10px 0;
    text-align: center; }
  .booking main .container .sale p, .feedback main .container .sale p {
    text-align: left;
    margin-bottom: 14px;
    margin-top: 14px; }
    .booking main .container .sale p span, .feedback main .container .sale p span {
      font-weight: 700;
      color: #bc9d71; }
.booking main .container form input[type="text"], .feedback main .container form input[type="text"] {
  font-family: PTSansRegular;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 48px;
  margin-bottom: 16px;
  padding-left: 8px;
  font-size: 16px;
  color: #393939;
  border: 1px solid #cdcdcd; }
  .booking main .container form input[type="text"]::-webkit-input-placeholder, .feedback main .container form input[type="text"]::-webkit-input-placeholder {
    color: #393939; }
.booking main .container form input[type="submit"], .feedback main .container form input[type="submit"] {
  font-family: PTSansRegular;
  width: 100%;
  border: none;
  height: 48px;
  margin-bottom: 16px;
  padding-left: 8px;
  font-size: 16px;
  background: #bc9d71;
  color: white; }
.booking main .container form textarea, .feedback main .container form textarea {
  font-family: PTSansRegular;
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding-left: 8px;
  padding-top: 8px;
  font-size: 16px;
  color: #393939;
  border: 1px solid #cdcdcd; }
  .booking main .container form textarea::-webkit-input-placeholder, .feedback main .container form textarea::-webkit-input-placeholder {
    color: #393939; }
.booking .menutoggle, .feedback .menutoggle {
  position: relative; }
  .booking .menutoggle:before, .feedback .menutoggle:before {
    background: url("../img/burger.png") center center #ebebeb no-repeat; }
  .booking .menutoggle.menuclose:before, .feedback .menutoggle.menuclose:before {
    content: "";
    width: 32px;
    height: 32px;
    background: url("../img/cross.png") center center #393939 no-repeat; }
  .booking .menutoggle.buttonmove, .feedback .menutoggle.buttonmove {
    position: absolute;
    margin-left: 72%;
    z-index: 1001; }
.booking .bankmobile, .feedback .bankmobile {
  overflow-y: auto;
  background: #393939;
  position: fixed;
  width: 72%;
  padding: 0 5%;
  height: 100%;
  top: 0;
  z-index: 999;
  left: 0; }
  .booking .bankmobile p, .feedback .bankmobile p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: #fff; }
    .booking .bankmobile p:nth-child(2), .feedback .bankmobile p:nth-child(2) {
      color: #bc9d71; }
  .booking .bankmobile.menuoff, .feedback .bankmobile.menuoff {
    margin-left: -84%; }
  .booking .bankmobile a, .feedback .bankmobile a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%; }
    .booking .bankmobile a.close-menu, .feedback .bankmobile a.close-menu {
      margin-top: 16px; }
      .booking .bankmobile a.close-menu:before, .feedback .bankmobile a.close-menu:before {
        content: "";
        width: 32px;
        height: 32px;
        background: url("../img/cross.png") center center #393939 no-repeat; }
.booking .bankmobile, .booking .menuoff, .booking .buttonmove, .booking .banktoggle, .feedback .bankmobile, .feedback .menuoff, .feedback .buttonmove, .feedback .banktoggle {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.booking .banktoggle, .feedback .banktoggle {
  left: 0;
  cursor: pointer;
  z-index: 999; }

/*--------------------REVIEWS---------------------*/
.reviews main .container > p {
  margin-bottom: 14px; }
.reviews main .social-network {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px; }
  .reviews main .social-network a {
    margin: 0 8px; }
.reviews main .review {
  border-bottom: 1px solid #bc9d71; }
  .reviews main .review:nth-child(3) {
    border-top: 1px solid #bc9d71; }
  .reviews main .review h3 {
    font-size: 18px;
    font-weight: 800;
    color: #bc9d71;
    margin-bottom: 0; }
  .reviews main .review p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 3px;
    margin-bottom: 10px; }
  .reviews main .review div {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px; }
    .reviews main .review div span {
      font-size: 14px;
      color: #bc9d71; }

/*--------------------CONTACTS---------------------*/
.contacts header .head {
  position: relative; }
  .contacts header .head .menutoggle:before {
    background: url(../img/burger.png) center center #ebebeb no-repeat; }
.contacts .container {
  text-align: center; }
  .contacts .container h2 {
    font-size: 24px;
    font-weight: 400;
    color: #bc9d71;
    margin-top: 15px;
    margin-bottom: 0; }
  .contacts .container p {
    line-height: 24px;
    margin-top: 0; }
    .contacts .container p > span {
      font-size: 18px;
      color: #393939;
      font-weight: 400; }
    .contacts .container p:last-of-type {
      margin-bottom: 5px; }
      .contacts .container p:last-of-type::after {
        content: '*';
        color: #bc9d71; }
  .contacts .container .social-network {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px; }
    .contacts .container .social-network a {
      margin: 0 8px; }
  .contacts .container button {
    margin-bottom: 26px; }
  .contacts .container > span {
    font-size: 14px; }
    .contacts .container > span::before {
      content: '*';
      color: #bc9d71; }
  .contacts .container #map {
    width: 100%;
    height: 320px;
    margin: 20px 0; }

.gallery {
  background: #393939; }
  .gallery header .head {
    position: relative; }
    .gallery header .head .menutoggle:before {
      background: url(../img/burger.png) center center #ebebeb no-repeat; }
  .gallery main {
    /*---------------tabs------------*/
    /*---------------gallery------------*/ }
    .gallery main .labels {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 30px; }
      .gallery main .labels label {
        width: 31%;
        border: 1px solid #bc9d71;
        color: #bc9d71;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 48px;
        cursor: pointer;
        text-align: center; }
      .gallery main .labels input {
        display: none; }
        .gallery main .labels input:checked + label {
          background: #bc9d71;
          color: white; }
      .gallery main .labels section {
        display: none;
        padding: 20px 0 0; }
      .gallery main .labels #tab1:checked ~ #content1,
      .gallery main .labels #tab2:checked ~ #content2,
      .gallery main .labels #tab3:checked ~ #content3 {
        display: block;
        padding-top: 10px; }
    .gallery main .demo-gallery > ul > li a {
      display: block; }
    .gallery main .demo-gallery > ul > li a > img {
      -webkit-transition: -webkit-transform 0.15s ease 0s;
      -moz-transition: -moz-transform 0.15s ease 0s;
      -o-transition: -o-transform 0.15s ease 0s;
      transition: -webkit-transform 0.15s ease 0s;
      -moz-transition: transform 0.15s ease 0s, -moz-transform 0.15s ease 0s;
      transition: transform 0.15s ease 0s;
      transition: transform 0.15s ease 0s, -webkit-transform 0.15s ease 0s, -moz-transform 0.15s ease 0s, -o-transform 0.15s ease 0s;
      -webkit-transform: scale3d(1, 1, 1);
      -moz-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      height: 100%;
      width: 100%; }
    .gallery main ul.lightgallery {
      margin: 0;
      padding: 0;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .gallery main ul.lightgallery li {
        width: 48%;
        margin: 10px 0 0 0; }
        .gallery main ul.lightgallery li:nth-child(odd) {
          margin-right: 4%; }
        .gallery main ul.lightgallery li a {
          width: 100%; }
  .gallery .lg-outer {
    background: #393939; }
    .gallery .lg-outer .lg-img-wrap {
      padding: 0; }

/*# sourceMappingURL=style.css.map */
