/*--------------------FONTS----------------------*/
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
  url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
  url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

/*--------------------COLORS----------------------*/
$gray: #393939;
$gold: #bc9d71;

body {
  margin: 0;
  font-family: PTSansRegular;
  font-size: 16px;
  color: $gray;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .head {
    margin-top: 15px;
    position: absolute;
    z-index: 10;
    width: 88%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .booking-btn {
      width: 40px;
      height: 40px;
      background: url("../img/booking-ico.png") center center $gold no-repeat;
    }

    .menu {
      width: 40px;
    }
  }

  #owl-head {
    .owl-stage {
      .owl-item {
        .item {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          div {
            width: 100%;
          }
          p {
            position: absolute;
            bottom: 30px;
            color: white;
            font-size: 20px;
          }
        }
      }
    }
    .owl-controls {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      .owl-dots {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 15;
        position: absolute;
        bottom: 11px;
        .owl-dot {
          display: inline-block;
          zoom: 1;
          *display: inline;
          span {
            width: 12px;
            height: 12px;
            margin: 5px;
            background: transparent;
            border: 1px solid white;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            display: block;
            -webkit-backface-visibility: visible;
            -webkit-transition: opacity 200ms ease;
            -o-transition: opacity 200ms ease;
            -moz-transition: opacity 200ms ease;
            transition: opacity 200ms ease;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
          &.active, &:hover {
            span {
              background: white;
            }
          }
        }
      }

    }
  }

  .buttons {
    width: 88%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 16px 0;
    button {
      width: 32%;
      height: 48px;
      background: transparent;
      border: 1px $gold solid;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: $gold;
      font-size: 14px;
      padding: 0;
    }

  }
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 30px;
  .container {
    width: 88%;
    p {
      text-align: center;
      margin-top: 8px;
      margin-bottom: 24px;
      span {
        font-weight: 800;
        color: $gold;
      }
    }
    button {
      width: 100%;
      height: 48px;
      background: $gold;
      color: white;
      border: none;
      font-size: 16px;
      margin-bottom: 16px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      img {
        margin-right: 10px;
      }
    }

  }

}

/* Styles for Accordion */

.toggle {
  &:last-child {
    border-bottom: 1px solid $gold;
  }
  .toggle-title {
    position: relative;
    display: block;
    border-top: 1px solid $gold;
    margin-bottom: 6px;

    h3 {
      font-size: 16px;
      margin: 0px;
      line-height: 1;
      cursor: pointer;
      font-weight: 200;

    }
    &.active h3 {
    }
  }
  .toggle-inner {
    padding: 3px 0 10px 0;
    display: none;
    img {
      width: 100%;
    }
    p {
      text-align: left;
      font-size: 16px;
      line-height: 26px;
      margin-top: 7px;
    }
  }
  .toggle-title {
    margin: 0;
    .title-name {
      height: 48px;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    a i {
      font-size: 22px;
      margin-right: 5px;
    }
    i {
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: $gold transparent transparent transparent;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin: 20px;
      right: 0;
    }
    &.active i {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent $gold transparent;
    }
  }
}

.menumobile {
  overflow-y: auto;
  background: $gray;
  position: fixed;
  width: 72%;
  padding: 0 5%;
  height: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  .lang {
    height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px 0;
    a {
      height: 100%;
      width: 32px;
      border: 1px #4d4d4d solid;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: $gold;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 8px;
      font-size: 16px;
      &.active {
        border: none;
        background: white;
        color: $gray;
      }
    }
  }
  button {
    width: 100%;
    height: 48px;
    background: transparent;
    border: 2px $gold solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: $gold;
    font-size: 16px;
    margin-bottom: 16px;
  }
  a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    height: 48px;
    border-bottom: 1px solid #4d4d4d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &:nth-child(3) {
      border-top: 1px solid #4d4d4d;
    }
    &:hover {
      background: #4d4d4d;
    }

  }

  &.menuoff {
    margin-left: -84%;
  }
}

.menumobile, .menuoff, .buttonmove, .menutoggle {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menutoggle {
  left: 0;
  position: absolute;
  cursor: pointer;
  z-index: 999;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background: url("../img/burger.png") center center white no-repeat;
  }
  &.menuclose {
    &:before {
      content: "";
      width: 32px;
      height: 32px;
      background: url("../img/cross.png") center center transparent no-repeat;
    }
  }
  &.buttonmove {
    position: absolute;
    margin-left: 72%;
    z-index: 1001;
  }
}

.noscroll {
  overflow: hidden;
}

.overlay-active {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  background: black;
  opacity: 0.6;
}

.opacity06 {
  opacity: 0.6;
}