@charset "UTF-8";
/*--------------------FONTS----------------------*/
@import url(../fonts/icomoon/style.css);
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800; }
/*--------------------COLORS----------------------*/
.noscroll {
  overflow: hidden;
  width: 100%;
  height: 100%; }

.container {
  padding: 0; }

body {
  margin: 0;
  font-family: PTSansRegular;
  font-size: 16px;
  color: #393939;
  line-height: 1.3; }
  body .overlay-active {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    background: black;
    opacity: 0.6; }

input, textarea {
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  header .head {
    margin: 0 6%;
    margin-top: 15px;
    position: absolute;
    z-index: 8;
    width: 88%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    left: 0; }
    header .head .booking-btn {
      width: 48px;
      height: 48px;
      background: url("../img/booking-ico.png") center center #bc9d71 no-repeat; }
    header .head .menu {
      width: 48px; }
  header #owl-head .owl-stage .owl-item .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    header #owl-head .owl-stage .owl-item .item div {
      width: 100%; }
    header #owl-head .owl-stage .owl-item .item p {
      z-index: 9999;
      position: absolute;
      bottom: 30px;
      color: white;
      font-size: 20px;
      width: 100%;
      text-align: center; }
    header #owl-head .owl-stage .owl-item .item h1 {
      z-index: 9999;
      position: absolute;
      text-align: center;
      color: white;
      bottom: 15%;
      font-size: 42px;
      text-transform: uppercase;
      width: 100%; }
      header #owl-head .owl-stage .owl-item .item h1 span {
        font-size: 20px; }
  header #owl-head .owl-controls .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 15;
    position: absolute;
    bottom: 11px;
    width: 100%; }
    header #owl-head .owl-controls .owl-dots .owl-dot {
      display: inline-block;
      zoom: 1;
      *display: inline; }
      header #owl-head .owl-controls .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
        margin: 5px;
        background: transparent;
        border: 1px solid white;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        -webkit-backface-visibility: visible;
        -webkit-transition: opacity 200ms ease;
        -o-transition: opacity 200ms ease;
        -moz-transition: opacity 200ms ease;
        transition: opacity 200ms ease;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      header #owl-head .owl-controls .owl-dots .owl-dot.active span, header #owl-head .owl-controls .owl-dots .owl-dot:hover span {
        background: white; }
  header .buttons {
    width: 88%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 16px 0; }
    header .buttons button {
      width: 32%;
      height: 48px;
      background: transparent;
      border: 1px #bc9d71 solid;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #bc9d71;
      font-size: 14px;
      padding: 0; }

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 30px; }
  main .container {
    width: 88%; }
    main .container > p {
      text-align: center;
      margin-top: 8px;
      margin-bottom: 24px; }
      main .container > p span {
        font-weight: 800;
        color: #bc9d71; }
    main .container button {
      width: 100%;
      height: 48px;
      background: #bc9d71;
      color: white;
      border: none;
      font-size: 16px;
      margin-bottom: 16px; }
      main .container button img {
        margin-right: 10px; }

/* Styles for Accordion */
.toggle:last-child {
  border-bottom: 1px solid #bc9d71; }
.toggle .toggle-title {
  position: relative;
  display: block;
  border-top: 1px solid #bc9d71;
  margin-bottom: 6px; }
  .toggle .toggle-title h3 {
    font-size: 16px;
    margin: 0px;
    line-height: 1;
    cursor: pointer;
    font-weight: 200; }
.toggle .toggle-inner {
  padding: 3px 0 10px 0;
  display: none; }
  .toggle .toggle-inner img {
    width: 100%; }
  .toggle .toggle-inner p {
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    margin-top: 7px; }
.toggle .toggle-title {
  margin: 0; }
  .toggle .toggle-title .title-name {
    height: 48px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .toggle .toggle-title a i {
    font-size: 22px;
    margin-right: 5px; }
  .toggle .toggle-title i {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #bc9d71 transparent transparent transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 20px;
    right: 0; }
  .toggle .toggle-title.active i {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #bc9d71 transparent; }

/* Styles for Menu */
.menumobile {
  overflow-y: auto;
  background: #393939;
  position: fixed;
  width: 72%;
  padding: 0 5%;
  height: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  display: block; }
  .menumobile .lang {
    height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px 0 24px 0;
    width: 50%;
    float: left; }
    .menumobile .lang a {
      height: 100%;
      width: 32px;
      border: 1px #4d4d4d solid;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #bc9d71;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 8px;
      font-size: 16px;
      text-decoration: none; }
      .menumobile .lang a.active {
        border: none;
        background: white;
        color: #393939; }
  .menumobile button {
    width: 100%;
    height: 48px;
    background: transparent;
    border: 2px #bc9d71 solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #bc9d71;
    font-size: 16px;
    margin-bottom: 24px; }
  .menumobile .list {
    width: 100%; }
    .menumobile .list a {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      height: 48px;
      border-bottom: 1px solid #4d4d4d;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      padding-left: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .menumobile .list a:nth-child(1) {
        border-top: 1px solid #4d4d4d; }
      .menumobile .list a:hover {
        background: #4d4d4d; }
  .menumobile .close-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-top: 16px;
    float: right; }
    .menumobile .close-menu:before {
      content: "";
      width: 32px;
      height: 32px;
      background: url("../img/cross.png") center center #393939 no-repeat; }
  .menumobile.menuoff {
    margin-left: -84%; }

.menumobile, .menuoff, .menutoggle, .close-menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.menutoggle {
  left: 0;
  position: absolute;
  cursor: pointer;
  z-index: 999; }
  .menutoggle:before {
    content: "";
    position: absolute;
    left: 0;
    width: 48px;
    height: 48px;
    background: url("../img/burger.png") center center white no-repeat; }

/*--------------------left---------------------*/
.spahotel main .container p, .home main .container p, .restaurant main .container p {
  text-align: left;
  line-height: 26px; }

/*--------------------BOOKING---------------------*/
.booking header, .feedback header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .booking header .head, .feedback header .head {
    margin-top: 15px;
    position: relative;
    z-index: 8;
    width: 88%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .booking header .head .back-btn, .feedback header .head .back-btn {
      width: 48px;
      height: 48px;
      background: url("../img/back-btn.png") center center #bc9d71 no-repeat; }
    .booking header .head .menu, .feedback header .head .menu {
      width: 48px; }
.booking main .container .sale, .feedback main .container .sale {
  border: 2px solid #bc9d71;
  padding: 0 10px;
  margin: 20px 0 30px 0; }
  .booking main .container .sale h3, .feedback main .container .sale h3 {
    font-weight: 700;
    margin: 10px 0;
    text-align: center; }
  .booking main .container .sale p, .feedback main .container .sale p {
    text-align: left;
    margin-bottom: 14px;
    margin-top: 14px; }
    .booking main .container .sale p span, .feedback main .container .sale p span {
      font-weight: 700;
      color: #bc9d71; }
.booking main .container form input[type="text"], .feedback main .container form input[type="text"] {
  font-family: PTSansRegular;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 48px;
  margin-bottom: 16px;
  padding-left: 8px;
  font-size: 16px;
  color: #393939;
  border: 1px solid #cdcdcd; }
  .booking main .container form input[type="text"]::-webkit-input-placeholder, .feedback main .container form input[type="text"]::-webkit-input-placeholder {
    color: #393939; }
.booking main .container form input[type="submit"], .feedback main .container form input[type="submit"] {
  font-family: PTSansRegular;
  width: 100%;
  border: none;
  height: 48px;
  margin-bottom: 16px;
  padding-left: 8px;
  font-size: 16px;
  background: #bc9d71;
  color: white; }
.booking main .container form textarea, .feedback main .container form textarea {
  font-family: PTSansRegular;
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding-left: 8px;
  padding-top: 8px;
  font-size: 16px;
  color: #393939;
  border: 1px solid #cdcdcd; }
  .booking main .container form textarea::-webkit-input-placeholder, .feedback main .container form textarea::-webkit-input-placeholder {
    color: #393939; }
.booking .menutoggle, .feedback .menutoggle {
  position: relative; }
  .booking .menutoggle:before, .feedback .menutoggle:before {
    background: url("../img/burger.png") center center #ebebeb no-repeat; }
  .booking .menutoggle.menuclose:before, .feedback .menutoggle.menuclose:before {
    content: "";
    width: 32px;
    height: 32px;
    background: url("../img/cross.png") center center #393939 no-repeat; }
  .booking .menutoggle.buttonmove, .feedback .menutoggle.buttonmove {
    position: absolute;
    margin-left: 72%;
    z-index: 1001; }
.booking .bankmobile, .feedback .bankmobile {
  overflow-y: auto;
  background: #393939;
  position: fixed;
  width: 72%;
  padding: 0 5%;
  height: 100%;
  top: 0;
  z-index: 999;
  left: 0; }
  .booking .bankmobile p, .feedback .bankmobile p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: #fff; }
    .booking .bankmobile p:nth-child(2), .feedback .bankmobile p:nth-child(2) {
      color: #bc9d71; }
  .booking .bankmobile.menuoff, .feedback .bankmobile.menuoff {
    margin-left: -84%; }
  .booking .bankmobile a, .feedback .bankmobile a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%; }
    .booking .bankmobile a.close-menu, .feedback .bankmobile a.close-menu {
      margin-top: 16px; }
      .booking .bankmobile a.close-menu:before, .feedback .bankmobile a.close-menu:before {
        content: "";
        width: 32px;
        height: 32px;
        background: url("../img/cross.png") center center #393939 no-repeat; }
.booking .bankmobile, .booking .menuoff, .booking .buttonmove, .booking .banktoggle, .feedback .bankmobile, .feedback .menuoff, .feedback .buttonmove, .feedback .banktoggle {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.booking .banktoggle, .feedback .banktoggle {
  left: 0;
  cursor: pointer;
  z-index: 999; }

/*--------------------REVIEWS---------------------*/
.reviews main .container > p {
  margin-bottom: 14px; }
.reviews main .social-network {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px; }
  .reviews main .social-network a {
    margin: 0 8px; }
.reviews main .review {
  border-bottom: 1px solid #bc9d71; }
  .reviews main .review:nth-child(3) {
    border-top: 1px solid #bc9d71; }
  .reviews main .review h3 {
    font-size: 18px;
    font-weight: 800;
    color: #bc9d71;
    margin-bottom: 0; }
  .reviews main .review p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 3px;
    margin-bottom: 10px; }
  .reviews main .review div {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px; }
    .reviews main .review div span {
      font-size: 14px;
      color: #bc9d71; }

/*--------------------CONTACTS---------------------*/
.contacts header .head {
  position: relative; }
  .contacts header .head .menutoggle:before {
    background: url(../img/burger.png) center center #ebebeb no-repeat; }
.contacts .container {
  text-align: center; }
  .contacts .container h2 {
    font-size: 24px;
    font-weight: 400;
    color: #bc9d71;
    margin-top: 15px;
    margin-bottom: 0; }
  .contacts .container p {
    line-height: 24px;
    margin-top: 0; }
    .contacts .container p > span {
      font-size: 18px;
      color: #393939;
      font-weight: 400; }
    .contacts .container p:last-of-type {
      margin-bottom: 5px; }
      .contacts .container p:last-of-type::after {
        content: '*';
        color: #bc9d71; }
  .contacts .container .social-network {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px; }
    .contacts .container .social-network a {
      margin: 0 8px; }
  .contacts .container button {
    margin-bottom: 26px; }
  .contacts .container > span {
    font-size: 14px; }
    .contacts .container > span::before {
      content: '*';
      color: #bc9d71; }
  .contacts .container #map {
    width: 100%;
    height: 320px;
    margin: 20px 0; }

.gallery {
  background: #393939; }
  .gallery header .head {
    position: relative; }
    .gallery header .head .menutoggle:before {
      background: url(../img/burger.png) center center #ebebeb no-repeat; }
  .gallery main {
    /*---------------tabs------------*/
    /*---------------gallery------------*/ }
    .gallery main .labels {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 30px; }
      .gallery main .labels label {
        width: 31%;
        border: 1px solid #bc9d71;
        color: #bc9d71;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 48px;
        cursor: pointer;
        text-align: center; }
      .gallery main .labels input {
        display: none; }
        .gallery main .labels input:checked + label {
          background: #bc9d71;
          color: white; }
      .gallery main .labels section {
        display: none;
        padding: 20px 0 0; }
      .gallery main .labels #tab1:checked ~ #content1,
      .gallery main .labels #tab2:checked ~ #content2,
      .gallery main .labels #tab3:checked ~ #content3 {
        display: block;
        padding-top: 10px; }
    .gallery main .demo-gallery > ul > li a {
      display: block; }
    .gallery main .demo-gallery > ul > li a > img {
      -webkit-transition: -webkit-transform 0.15s ease 0s;
      -moz-transition: -moz-transform 0.15s ease 0s;
      -o-transition: -o-transform 0.15s ease 0s;
      transition: -webkit-transform 0.15s ease 0s;
      -moz-transition: transform 0.15s ease 0s, -moz-transform 0.15s ease 0s;
      transition: transform 0.15s ease 0s;
      transition: transform 0.15s ease 0s, -webkit-transform 0.15s ease 0s, -moz-transform 0.15s ease 0s, -o-transform 0.15s ease 0s;
      -webkit-transform: scale3d(1, 1, 1);
      -moz-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      height: 100%;
      width: 100%; }
    .gallery main ul.lightgallery {
      margin: 0;
      padding: 0;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .gallery main ul.lightgallery li {
        width: 48%;
        margin: 10px 0 0 0; }
        .gallery main ul.lightgallery li:nth-child(odd) {
          margin-right: 4%; }
        .gallery main ul.lightgallery li a {
          width: 100%; }
  .gallery .lg-outer {
    background: #393939; }
    .gallery .lg-outer .lg-img-wrap {
      padding: 0; }

.home {
  text-align: center; }
  .home h2 {
    font-size: 18px;
    font-weight: 700;
    color: #bc9d71;
    text-align: center; }
  .home .container {
    width: 92%; }
  .home main .container p {
    text-align: center;
    line-height: 24px; }
  .home .home-item {
    margin-bottom: 30px;
    text-align: left; }
    .home .home-item img {
      width: 100%; }
    .home .home-item p {
      text-align: left !important;
      font-size: 14px;
      margin: 0 0 5px;
      line-height: 20px; }
    .home .home-item h3 {
      font-size: 18px;
      margin: 5px 0; }
    .home .home-item .icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .home .home-item .icons i {
        font-size: 17px;
        width: 34px;
        height: 34px;
        color: #bc9d71;
        border: 1px solid #bc9d71;
        border-radius: 100%;
        margin-right: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
  .home .new-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .home .new-btns button {
      width: 48%;
      background: #eaebec;
      color: #333333; }

.gallery main ul.lightgallery li {
  width: 100%;
  line-height: 0;
  margin: 8px 0 0 0; }
.gallery main ul.lightgallery li:nth-child(odd) {
  margin-right: 0; }

.nav-tabs > li {
  margin-bottom: 0; }

.tab-container {
  position: relative; }
  .tab-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover {
  color: #bc9d71;
  background: #393939; }

.nav-tabs.nav-tabs-dropdown,
.nav-tabs-dropdown {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #bc9d71;
  width: 100%;
  z-index: 8;
  color: #bc9d71; }
  .nav-tabs.nav-tabs-dropdown.active,
  .nav-tabs-dropdown.active {
    border: none; }

.nav-tabs.nav-tabs-dropdown::after,
.nav-tabs-dropdown::after {
  content: "\e900";
  font-family: icomoon;
  position: absolute;
  top: 2px;
  right: 5px;
  z-index: 2;
  pointer-events: none;
  font-size: 32px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.nav-tabs.nav-tabs-dropdown.open a,
.nav-tabs-dropdown.open a {
  position: relative;
  display: block;
  background: white;
  color: #333333;
  border-top: 1px solid #c1c1c1; }

.nav-tabs.nav-tabs-dropdown.open > li.active > a,
.nav-tabs-dropdown.open > li.active > a {
  background-color: white;
  color: #333333; }

.nav-tabs.nav-tabs-dropdown li,
.nav-tabs-dropdown li {
  display: block;
  padding: 0;
  vertical-align: bottom; }

.nav-tabs.nav-tabs-dropdown > li > a,
.nav-tabs-dropdown > li > a {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-color: transparent;
  text-align: left; }

.nav-tabs.nav-tabs-dropdown > li > a:focus,
.nav-tabs-dropdown > li > a:focus,
.nav-tabs.nav-tabs-dropdown > li > a:hover,
.nav-tabs-dropdown > li > a:hover,
.nav-tabs.nav-tabs-dropdown > li > a:active,
.nav-tabs-dropdown > li > a:active {
  border-color: transparent; }

.nav-tabs.nav-tabs-dropdown > li.active > a,
.nav-tabs-dropdown > li.active > a {
  display: block;
  border: none;
  position: relative;
  z-index: 1;
  background: #393939; }

.nav-tabs.nav-tabs-dropdown > li.active > a:focus,
.nav-tabs-dropdown > li.active > a:focus,
.nav-tabs.nav-tabs-dropdown > li.active > a:hover,
.nav-tabs-dropdown > li.active > a:hover,
.nav-tabs.nav-tabs-dropdown > li.active > a:active,
.nav-tabs-dropdown > li.active > a:active {
  border-color: transparent; }

.nav-tabs.nav-justified > li > a {
  border-radius: 0; }

.tab-content {
  margin-top: 50px; }

#dropdown-overlay.active {
  background-color: #000;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 7; }

.owl-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 12px; }

.owl-carousel .owl-dot {
  width: 8px;
  height: 8px;
  background: rgba(234, 235, 236, 0.5);
  border-radius: 100%;
  margin-right: 4px; }
  .owl-carousel .owl-dot.active {
    background: #bc9d71; }

.toggle .toggle-title i {
  margin: 20px 0; }

ul.oglavl {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 20px; }

ul.oglavl li {
  border-bottom: 1px dotted #444444;
  position: relative;
  padding: 0;
  margin-bottom: 5px;
  /* ╨Э╨╡╨╛╨▒╤П╨╖╨░╤В╨╡╨╗╨╡╨╜. ╨Ч╨░╨┤╨░╨╡╤В╤Б╤П ╨┤╨╗╤П ╤Г╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤А╨░╤Б╤Б╤В╨╛╤П╨╜╨╕╤П ╨╝╨╡╨╢╨┤╤Г ╨▒╨╗╨╛╨║╨░╨╝╨╕ li */ }

ul.oglavl li span {
  background-color: #FFF;
  /* ╨н╤В╨╛ ╨╜╨╡╨╛╨▒╤Е╨╛╨┤╨╕╨╝╨╛, ╤З╤В╨╛╨▒╤Л ╨┐╨╡╤А╨╡╨║╤А╤Л╤В╤М ╤В╨╛╤З╨║╨╕ ╤Д╨╛╨╜╨╛╨╝ */
  margin: 0; }

ul.oglavl li span.text, ul.oglavl li span.page {
  bottom: -5px;
  /* ╨б╨╝╨╡╤Й╨░╨╡╨╝ ╨╖╨╜╨░╤З╨╕╨╝╤Л╨╡ ╨▒╨╗╨╛╨║╨╕, ╤З╤В╨╛╨▒╤Л ╨╛╨╜╨╕ ╨┐╨╡╤А╨╡╨║╤А╤Л╨╗╨╕ ╤В╨╛╤З╨║╨╕ */ }

ul.oglavl span.text {
  position: relative;
  margin-right: 7em;
  /* ╨Ч╨░╨┤╨░╨╡╤В╤Б╤П ╤З╤В╨╛╨▒╤Л ╤В╨╡╨║╤Б╤В ╨╜╨╡ ╨╖╨░╤Е╨╛╨┤╨╕╨╗ ╨╜╨░ ╨╜╨╛╨╝╨╡╤А╨░ ╤Б╤В╤А╨░╨╜╨╕╤Ж */
  padding-right: 2px;
  /* ╨Э╨╡╨╛╨▒╤П╨╖╨░╤В╨╡╨╗╨╡╨╜. ╨Ч╨░╨┤╨░╨╡╤В╤Б╤П ╤З╤В╨╛╨▒╤Л ╤В╨╛╤З╨║╨╕ ╨╜╨╡ ╨┐╨╛╨┤╤Е╨╛╨┤╨╕╨╗╨╕ ╨▓╨┐╨╗╨╛╤В╨╜╤Г╤О ╨║ ╨║╨╛╨╜╤Ж╤Г ╤В╨╡╨║╤Б╤В╨░ */ }

ul.oglavl span.page {
  position: absolute;
  right: 0;
  font-family: "Museo Cyrl 500";
  color: #bc9d71;
  padding-left: 2px;
  /* ╨Э╨╡╨╛╨▒╤П╨╖╨░╤В╨╡╨╗╨╡╨╜. ╨Ч╨░╨┤╨░╨╡╤В╤Б╤П ╤З╤В╨╛╨▒╤Л ╤В╨╛╤З╨║╨╕ ╨╜╨╡ ╨┐╨╛╨┤╤Е╨╛╨┤╨╕╨╗╨╕ ╨▓╨┐╨╗╨╛╤В╨╜╤Г╤О ╨║ ╨╜╨╛╨╝╨╡╤А╨░╨╝ ╤Б╤В╤А╨░╨╜╨╕╤Ж */ }

.toggle .toggle-inner .sale {
  margin-bottom: 10px;
  border: 1px solid #bc9d71;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .toggle .toggle-inner .sale p {
    text-align: center; }
    .toggle .toggle-inner .sale p span {
      font-weight: 700; }
  .toggle .toggle-inner .sale > span {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: #eaebec;
    color: #bc9d71;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 22px; }
  .toggle .toggle-inner .sale button {
    margin-bottom: 0; }

.toggle .toggle-title {
  position: relative;
  display: block;
  border-top: 1px solid #c3c3c3; }

.toggle:last-child {
  border-bottom: 1px solid #c3c3c3; }

main .service h2 {
  font-size: 20px;
  margin: 13px 0 5px; }
main .service > p {
  text-align: left;
  margin: 5px 0; }
main .service ul.main-info {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px; }
  main .service ul.main-info li {
    padding-left: 11px;
    position: relative; }
    main .service ul.main-info li::before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background: #bc9d71;
      left: 0;
      top: 10px;
      position: absolute; }
main .service .toggle.last {
  border-bottom: 1px solid #c3c3c3; }
main .service .serv {
  margin-top: 15px; }
  main .service .serv > span {
    font-size: 16px;
    font-family: "Museo Cyrl 500";
    color: #bc9d71; }
  main .service .serv ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px; }
    main .service .serv ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 8px; }
      main .service .serv ul li i {
        width: 34px;
        height: 34px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid #bc9d71;
        margin-right: 15px;
        color: #bc9d71;
        font-size: 20px; }
main .service .new-btns {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  main .service .new-btns button {
    width: 48%;
    background: #eaebec;
    color: #333333; }

header #owl-head .owl-stage .owl-item .item div {
  max-height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.head > a img {
  width: 65px; }

.head-menu {
  height: 135px;
  background: url("../img/bg-menu.jpg") center no-repeat transparent;
  background-size: contain;
  position: relative; }
  .head-menu .nav-tabs.nav-tabs-dropdown, .head-menu .nav-tabs-dropdown {
    top: 75px; }
  .head-menu .head {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 0;
    padding: 15px 0; }
    .head-menu .head .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      font-size: 18px;
      font-weight: 700;
      color: white;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .head-menu .head .menu .back-bttn {
        height: 40px;
        width: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 15px;
        background: white; }
        .head-menu .head .menu .back-bttn i {
          font-size: 11px;
          color: #bc9d71; }

.cont-menu .toggle .toggle-title {
  position: relative;
  display: block;
  border-top: 1px solid #bc9d71; }
.cont-menu .toggle:last-child {
  border-bottom: 1px solid #bc9d71; }
.cont-menu .additional {
  font-size: 20px;
  color: #bc9d71;
  font-weight: 700;
  padding: 20px 0 10px;
  display: inline-block;
  border-top: 1px solid #cdcdcd;
  width: 100%; }
.cont-menu .tab-content {
  margin-top: 15px; }
.cont-menu .menu-item {
  padding: 10px 0;
  border-top: 1px solid #cdcdcd;
  font-size: 16px; }
  .cont-menu .menu-item:first-of-type {
    border: none;
    padding-top: 0; }
  .cont-menu .menu-item p {
    margin: 0 0 3px 0; }
  .cont-menu .menu-item span {
    font-weight: 700;
    color: #bc9d71; }
.cont-menu .toggle:first-of-type .toggle-title {
  position: relative;
  display: block;
  border-top: none; }
.cont-menu .toggle .toggle-title .title-name {
  font-size: 18px;
  font-weight: 700;
  color: #333333; }
.cont-menu .toggle .toggle-title.active .title-name {
  color: #bc9d71; }

.menumobile .list a, .menumobile .list p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  height: 48px;
  border-bottom: 1px solid #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0; }

.menu-services {
  overflow-y: auto;
  background: #393939;
  position: fixed;
  width: 72%;
  padding: 0 5%;
  height: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  display: block; }
  .menu-services .lang {
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px 0 24px 0;
    width: 50%;
    float: left; }
    .menu-services .lang a {
      height: 100%;
      width: 32px;
      border: 1px #4d4d4d solid;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #bc9d71;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 8px;
      font-size: 16px;
      text-decoration: none; }
      .menu-services .lang a.active {
        border: none;
        background: white;
        color: #393939; }
  .menu-services button {
    width: 100%;
    height: 48px;
    background: transparent;
    border: 2px #bc9d71 solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #bc9d71;
    font-size: 16px;
    margin-bottom: 24px; }
  .menu-services .list {
    width: 100%; }
    .menu-services .list a, .menu-services .list p {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      height: 48px;
      border-bottom: 1px solid #4d4d4d;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .menu-services .list a:nth-child(1), .menu-services .list p:nth-child(1) {
        border-top: 1px solid #4d4d4d; }
      .menu-services .list a:hover, .menu-services .list p:hover {
        background: #4d4d4d; }
  .menu-services .close-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-top: 16px;
    float: right; }
    .menu-services .close-menu:before {
      content: "";
      width: 32px;
      height: 32px;
      background: url("../img/cross.png") center center #393939 no-repeat; }
  .menu-services.menuoff1 {
    margin-left: -84%; }

.menu-services, .menuoff1, .services-toggle, .back-to-menu {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.back-to-menu, .services-toggle {
  margin: 0; }
  .back-to-menu span, .services-toggle span {
    width: 32px;
    height: 32px;
    border: 1px solid #4d4d4d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #bc9d71;
    font-size: 10px;
    border-radius: 100%; }

.back-to-menu span {
  margin-right: 10px; }

/*# sourceMappingURL=style.css.map */
