// begin footer grid

.col-xs-1-10,
.col-sm-1-10,
.col-md-1-10,
.col-lg-1-10,
.col-xs-2-10,
.col-sm-2-10,
.col-md-2-10,
.col-lg-2-10,
.col-xs-3-10,
.col-sm-3-10,
.col-md-3-10,
.col-lg-3-10  {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-1-10 {
  width: 10%;
  float: left;
}
.col-xs-2-10 {
  width: 20%;
  float: left;
}
.col-xs-3-10 {
  width: 30%;
  float: left;
}

.col-xs-offset-1-10,
.col-sm-offset-1-10,
.col-md-offset-1-10,
.col-lg-offset-1-10{
  margin-left: 10%;
}

@media (min-width: 768px) {
  .col-sm-1-10 {
    width: 10%;
    float: left;
  }
  .col-sm-2-10 {
    width: 20%;
    float: left;
  }
  .col-sm-3-10 {
    width: 30%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-10 {
    width: 10%;
    float: left;
  }
  .col-md-2-10 {
    width: 20%;
    float: left;
  }
  .col-md-3-10 {
    width: 30%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-10 {
    width: 10%;
    float: left;
  }
  .col-lg-2-10 {
    width: 20%;
    float: left;
  }
  .col-lg-3-10 {
    width: 30%;
    float: left;
  }
}

// end footer grid