@media only screen and (max-width: 1440px) {
  header .top-line .container,
  header .content .container,
  #serv .container,
  #pros .container,
  #prices .container,
  #partners .container,
  #contacts .container,
  footer .footer-content {
    max-width: 1280px;
  }
  header .content .wrapper-bg {
    background-position: 142% 53%;
    -webkit-background-size: 71% 71%;
    background-size: 71%;
  }
  header .content h1 {
    font-size: 50px;
  }
  header .content p {
    font-size: 22px;
  }
  #serv {
    padding: 100px 0 0;
  }
  #serv h2 {
    margin-bottom: 80px;
  }
  #pros {
    padding: 50px 0 100px;
  }

  #pros h2 {
    margin-bottom: 60px;
  }
  h2, h3 {
    font-size: 42px;
  }
  #pros .left p {
    font-size: 22px;
  }
  #pros .right ul li {
    font-size: 22px;
    margin: 28px 0;
  }
  #pros .right ul li img {
    top: -5px;
  }
  #pros:after {
    width: 603px;
    height: 288px;
    bottom: 113px;
  }
  #partners h2 {
    margin-bottom: 40px;
  }
  #contacts .left {
    padding: 100px 0;
  }
  #contacts .right {
    padding: 100px 0;
    padding-left: 7%;
  }
  #partners {
    padding: 70px 0;
  }
  #prices .left p {
    font-size: 22px;
  }

  #prices .wrapper-bg {
    background-position: 8% 88%;
    -webkit-background-size: 280px 280px;
    background-size: 280px;
  }
  #prices .container {
    padding: 115px 0 75px;
  }
  #prices .right .item {
    width: 220px;
    min-height: 300px;
    margin: 0 0 50px 30px;
    padding: 30px 15px 0;
  }
}

@media only screen and (max-width: 1366px) {
  header .top-line .container, header .content .container, #serv .container, #pros .container, #prices .container, #partners .container, #contacts .container, footer .footer-content {
    max-width: 1170px;
  }
  header .top-line nav .anchor-nav a.logo {
    margin-right: 30px;
  }
  header .top-line nav .anchor-nav li {
    margin: 0 12px;
  }
  #serv .wrap .item span {
    font-size: 20px;
    padding-left: 40px;
  }
  #serv .wrap .item {
    margin-bottom: 60px;
  }
  #pros:after {
    width: 573px;
    height: 267px;
    bottom: 114px;
  }
  h2, #contacts .right h3 {
    font-size: 36px;
  }
  #prices .left p {
    font-size: 20px;
    margin-top: 30px;
  }
  #pros .left p {
    font-size: 20px;
  }
  #pros .right ul li {
    font-size: 20px;
    margin: 24px 0;
  }
  #contacts .left > span {
    margin: 40px 0 50px;
    padding-right: 29%;
  }
  #partners .wrap img {
    zoom: 0.8;
  }
}

@media only screen and (max-width: 1280px) {
  #pros:after {
    width: 520px;
  }
}

@media only screen and (max-width: 1024px) {
  form .check-data {
    text-align: left;
    margin: 0px 0 10px;
  }
  form .check-data span {
    bottom: -14px;
  }

  header .top-line .container, header .content .container, .content .container, #serv .container, #pros .container, #prices .container, #partners .container, #contacts .container, footer .footer-content {
    max-width: 92%;
  }
  header .top-line .phones .class-btn {
    display: none;
  }
  header .content {
    height: 750px;
  }
  header .content .wrapper-bg {
    background-position: 162% 120%;
    -webkit-background-size: 78% 78%;
    background-size: 78%;
  }
  #serv .wrap .item img {
    zoom: 0.8;
  }
  #pros .left p {
    font-size: 16px;
  }
  header .content h1 {
    font-size: 44px;
  }
  header .content p {
    font-size: 18px;
    max-width: 455px;
    margin: 45px 0 35px 0;
  }
  header .content .container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding-top: 100px;
  }
  #pros .right ul li {
    font-size: 16px;
    margin: 24px 0;
  }
  #pros .right ul li img {
    top: -5px;
    zoom: 0.7;
  }
  h2, #contacts .right h3 {
    font-size: 32px;
  }
  #prices .left {
    width: 100%;
    float: none;
  }
  #prices .right {
    width: 100%;
    float: none;
  }
  #prices .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  #prices .left h2 br {
    display: none;
  }
  #prices .left p {
    font-size: 20px;
    padding-right: 40%;
  }
  #prices .right {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-top: 50px;
  }
  #prices .right .item {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 3px 14.11px 2.89px rgba(2, 2, 2, 0.11);
    box-shadow: 0px 3px 14.11px 2.89px rgba(2, 2, 2, 0.11);
    width: 240px;
    min-height: 320px;
    float: left;
    margin: 0 50px 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 45px 25px 0;
  }
  #prices .wrapper-bg {
    background-position: 117% 12%;
    -webkit-background-size: 280px 280px;
    background-size: 280px;
  }
  #prices .container {
    padding: 100px 0 65px;
  }
  #partners .wrap img {
    zoom: 0.7;
  }
  form .material-input, form .material-textarea {
    width: 95%;
  }
  #contacts .right h3 {
    margin-bottom: 40px;
  }
  #contacts .left ul li a {
    font-size: 20px;
  }
  #contacts {
    background-position: 200px;
    background-repeat: no-repeat;
  }
  #contacts .left {
    padding: 85px 0;
  }
  #contacts .right {
    padding: 85px 0;
    padding-left: 7%;
  }
  form .material-input, form .material-textarea {
    margin-bottom: 0;
  }
  #contacts .left > span {
    margin: 35px 0 35px;
    padding-right: 20%;
  }
  #pros:after {
    width: 579px;
    height: 232px;
    bottom: 108px;
  }
}

@media only screen and (max-width: 768px) {
  form .check-data span {
    bottom: -3px;
  }
  form .check-data {
    margin: 15px 0 10px;
  }
  header .top-line nav .anchor-nav a {
    font-size: 14px;
  }
  header .top-line nav .anchor-nav a.logo img {
    width: 134px;
  }
  header .top-line {
    height: 70px;
  }
  header .top-line nav .anchor-nav li.partners {
    display: none;
  }
  header .top-line .container, header .content .container, .content .container, #serv .container, #pros .container, #prices .container, #partners .container, #contacts .container, footer .footer-content {
    max-width: 100%;
    padding: 0 40px;
  }
  header .top-line .container, header .content .container {
    padding: 0 20px;
  }
  header .content {
    height: 900px;
  }
  header .content .container {
    padding: 80px 0 0 60px;
  }
  header .content .wrapper-bg {
    background-position: 600% 118%;
    -webkit-background-size: 95% 95%;
    background-size: 95%;
  }
  #serv .wrap .item {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
  }
  #serv .wrap .item span {
    font-size: 18px;
    padding-left: 0;
    padding-top: 25px;
  }
  #serv .wrap .item {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 75px;
  }
  #serv .wrap .item img {
    zoom: 1;
  }
  #pros .left {
    width: 100%;
    padding-right: 10%;
    float: left;
  }
  #pros .left p {
    font-size: 18px;
  }
  #pros .right {
    width: 100%;
    float: left;
  }
  #pros h2 {
    margin-bottom: 30px;
  }
  #pros .right ul {
    padding-left: 0;
  }
  #pros .right ul li img {
    top: -8px;
    zoom: 1;
    margin-right: 50px;
  }
  #pros .right ul li {
    font-size: 18px;
    margin: 30px 0;
  }
  #pros .left {
    margin-bottom: 40px;
  }
  #pros {
    padding: 50px 0 65px;
  }
  #pros:after {
    width: 662px;
    height: 286px;
    bottom: 88px;
  }
  #prices .container {
    max-width: 100%;
    padding: 90px 40px 75px;
  }
  #prices .left p {
    font-size: 20px;
    padding-right: 22%;
  }
  #prices .wrapper-bg {
    background-position: 130% 12%;
  }
  #partners .wrap img {
    zoom: 1;
    margin-bottom: 25px;
  }
  #partners .wrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #partners {
    padding: 70px 0 45px;
  }
  #contacts .left {
    padding: 85px 40px;
    width: 100%;
  }
  #contacts .right {
    padding: 85px 40px;
    width: 100%;
  }
  #contacts .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  #contacts .left ul li {
    list-style: none;
    margin: 15px 0;
  }
  #contacts .left > span {
    margin: 25px 0 35px;
    padding-right: 45%;
  }
  form .material-input, form .material-textarea {
    width: 80%;
  }
  #contacts {
    background-position: 0;
  }
  #contacts .left ul li {
    float: left;
    width: 50%;
  }
  #contacts .container {
    padding: 0;
  }
  footer .footer-content {
    max-width: 100%;
    padding: 40px;
  }
}

@media only screen and (max-width: 560px) {
  form .check-data {
    text-align: left;
    margin: 0px 0 10px;
  }
  .remodal form .check-data {
    text-align: left;
    margin-bottom: 0;
  }

  form .check-data span {
    bottom: -14px;
  }
  header .top-line nav .anchor-nav li {
    display: none;
  }
  header .top-line .container, header .content .container {
    padding: 0 15px;
  }
  header .top-line .phones ul li a {
    font-size: 12px;
    line-height: 18px;
  }
  header .top-line .phones ul {
    margin-right: 0;
  }
  header .top-line {
    height: 50px;
  }
  header .top-line nav .anchor-nav a.logo img {
    width: 100px;
  }
  header .top-line .phones ul {
    height: 45px;
  }
  header .top-line .phones ul li {
    height: 20px;
  }
  header .content h1 {
    font-size: 24px;

  }
  header .content .container {
    padding: 30px 0 0 20px;
  }
  header .content p {
    margin: 20px 0 25px 0;
  }
  .class-btn {
    font-size: 14px;
    color: white;
    width: 200px;
    height: 42px;
  }
  header .content {
    padding-top: 50px;
    height: 580px;
  }
  header .content p {
    font-size: 16px;
  }
  header .content .wrapper-bg {
    background-position: 0 110%;
    -webkit-background-size: 105% 105%;
    background-size: 105%;
  }
  #serv .container, #pros .container, #prices .container, #partners .container, #contacts .container, footer .footer-content {
    max-width: 100%;
    padding: 0 15px;
  }
  h2, #contacts .right h3 {
    font-size: 20px;
  }
  #serv {
    padding: 50px 0 0;
  }
  #serv h2 {
    margin-bottom: 40px;
  }
  #serv .wrap .item {
    margin-bottom: 35px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  #serv .wrap .item span {
    font-size: 16px;
    padding-left: 20px;
    padding-top: 0;
  }
  #serv .wrap .item img {
    zoom: 0.55;
  }
  #pros {
    padding: 30px 0 45px;
  }
  #pros .left p {
    font-size: 14px;
  }
  #pros h2 {
    margin-bottom: 10px;
  }
  #pros .left {
    width: 100%;
    padding-right: 0;
  }
  #pros .right ul li img {
    top: -1px;
    zoom: 0.9;
    margin-right: 30px;
  }
  #pros .right ul li {
    font-size: 16px;
    margin: 20px 0;
    height: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  #pros:after {
    width: 80%;
    height: 293px;
    bottom: 49px;
  }
  #prices {
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #prices .left p {
    font-size: 14px;
    padding-right: 22%;
    margin-top: 20px;
  }
  #prices .left span {
    font-size: 13px;
  }
  #prices .right .item {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 3px 14.11px 2.89px rgba(2, 2, 2, 0.11);
    box-shadow: 0px 3px 14.11px 2.89px rgba(2, 2, 2, 0.11);
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    float: left;
    margin: 0 0 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 25px 15px 35px;
  }
  #prices .right .item p {
    font-size: 14px;
    margin: 12px 0 4px;
    br {
      display: none;
    }
  }
  #prices .right .item span.rur {
    font-size: 30px;
    display: inline-block;
    margin-top: 8px;
  }
  #prices .right .item span.byn {
    font-size: 24px;
    display: inline-block;
    margin-bottom: 8px;
  }
  #prices .right {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-top: 35px;
  }
  #prices .wrapper-bg {
    background-position: 218% 6%;
    -webkit-background-size: 200px 200px;
    background-size: 200px;
  }
  #partners {
    display: none;
  }
  #contacts .container {
    padding: 0;
  }
  #contacts .left {
    padding: 50px 15px 35px;
    width: 100%;
  }
  #contacts .left > span {
    margin: 15px 0 15px;
    padding-right: 0;
    font-size: 14px;
  }
  #contacts .left ul li {
    float: left;
    margin: 10px 0;
    width: 100%;
  }
  #contacts .left ul li a {
    font-size: 16px;
  }
  #contacts .right {
    padding: 45px 15px;
    width: 100%;
  }
  form .material-input, form .material-textarea {
    width: 100%;
    max-width: 350px;
  }
  #contacts .right h3 {
    margin-bottom: 15px;
  }
  form .material-input label, form .material-input input, form .material-input textarea, form .material-input .error, form .material-textarea label, form .material-textarea input, form .material-textarea textarea, form .material-textarea .error {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 16px;
  }
  form .material-input label {
    line-height: 77px;
    height: 60px;
  }
  form .material-input input, form .material-textarea input {
    height: 32px;
  }
  form .material-input {
    height: 80px;
  }
  form .material-input .error, form .material-textarea .error {
    font-size: 12px;
  }
  form .material-input .error, form .material-textarea .error {
    font-size: 12px;
    bottom: -18px;
  }
  footer .footer-content span {
    font-size: 14px;
    color: #202020;
    width: 100%;
  }
  footer .footer-content {
    max-width: 100%;
    padding: 15px;
  }
  footer .footer-content {
    max-width: 100%;
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: left;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .remodal {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    max-width: 400px;
    padding: 20px 15px 30px;
    h1 {
      font-size: 24px;
      margin: 10px 0 0;
    }
  }
}

@media only screen and (max-width: 520px) {

  header .content {
    padding-top: 50px;
    height: 660px;
  }
  #serv .wrap .item img {
    zoom: 0.7;
  }
  #pros:after {
    width: 85%;
  }
  #prices .right .item {
    max-width: 350px;
  }
}

@media only screen and (max-width: 425px) {
  #prices .right .item {
    max-width: 300px;
  }
  header .content {
    padding-top: 50px;
    height: 620px;
  }
  #pros:after {
    width: 83%;
  }
  #prices .wrapper-bg {
    background-position: 145% 4%;
    -webkit-background-size: 200px 200px;
    background-size: 200px;
  }
  #contacts .left > span {
    padding-right: 32%;
  }
  .remodal {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    max-width: 400px;
    padding: 20px 20px 30px;
  }
}

@media only screen and (max-width: 375px) {
  header .content p {
    font-size: 16px;
    padding-right: 10%;
  }
  #pros:after {
    width: 82%;
  }
  form .check-data span {
    width: 85%;
  }
  .remodal {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    max-width: 400px;
    padding: 20px 10px 20px;
  }
  .remodal form .check-data span {
    width: 85%;
  }
}

@media only screen and (max-width: 320px) {
  header .content p {
    font-size: 16px;
    padding-right: 0;
  }
  header .content {
    height: 580px;
  }
  #serv .wrap .item img {
    zoom: 0.55;
  }
  #prices .wrapper-bg {
    background-position: 220% 4%;}
  #pros:after {
    width: 79%;
  }
}

