.header-full {
  background: url("../img/big-times-bg.jpg") center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-attachment: fixed;

  &.greenwood {
    background: url("../img/big-greenwood-bg.jpg") center no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .top {
    position: absolute;
    top: 0;
    width: 100%;
    .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      padding-right: 160px;
      height: 65px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    nav {
      width: 300px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      button {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: transparent;
        border: none;
        i {
          font-size: 39px;
          color: white;
          &.icon-close {
            font-size: 18px;
            line-height: 2;
          }
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          border-top: 1px solid #c0c0c4;
        }
        ul li {
          width: 280px;
          a {
            display: block;
            background: white;
            text-decoration: none;
            font-size: 13px;
            color: $text-high;
            min-height: 20px;
            line-height: 20px;
            padding: 15px;
            text-transform: capitalize;
            margin: 0;
            border-bottom: 1px solid #c0c0c4;
            &:hover {
              background: $icon-dark;
              color: white;
            }
          }
          &:last-of-type {
            a {
              border-bottom: none;
            }
          }
        }
      }
    }
    .menu-dropdown-item {
      position: absolute;
      z-index: 1;
      -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
      display: none;
      margin-top: 38px;
    }
    .active-menu-item {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 280px;
      background: white;
      border-bottom: 1px solid #c0c0c4;
      outline: none;
      -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
      i {
        color: $text-high;
      }
    }
    .languages {
      width: 10%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -moz-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      a {
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        opacity: 0.5;
        &.active {
          opacity: 1;
        }
      }
      i {
        margin: -2px 5px 0;
        color: white;
        opacity: 0.5;
      }
    }
  }
  .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1170px;
    margin: 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    h1 {
      font-family: "PT Serif";
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      margin: 35px 0 -5px;
      text-shadow: 0px 2px 2px rgba(22, 21, 34, 0.4);
    }
    span {
      font-family: "PT Serif";
      font-size: 68px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-shadow: 0px 2px 2px rgba(22, 21, 34, 0.4);
    }
  }
  .bottom {
    bottom: 0;
    position: fixed;
    z-index: 1000;
    height: 74px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    background: white;
    max-width: 1903px;
    .section-wrapper:first-child .section {
      padding-top: 50px;
    }

    #nav {
      background: #fff;
      left: 0;
      list-style: none;
      overflow: hidden;
      height: 100%;
      right: 0;
      top: 0;
      margin: 0;
      width: 100%;
    }
    .large-btn {
      height: 100%;
      width: 260px;
    }

    #nav li {
      display: inline-block;
      margin-bottom: 0;
      height: 100%;
      margin-right: 50px;
    }

    #nav a {
      background: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      text-decoration: none;
      text-transform: uppercase;
      color: $text-medium;
      font-size: 13px;
      font-weight: 700;
      -webkit-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      -moz-transition: .2s ease-in-out;
      transition: .2s ease-in-out;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: white;
        -webkit-transition: background ease 0.2s;
        -o-transition: background ease 0.2s;
        -moz-transition: background ease 0.2s;
        transition: background ease 0.2s;
      }
    }

    #nav a:hover {
      background: none;
      color: #161522;
    }

    #nav .current a {
      background: #fff;
      color: #000;
      position: relative;
      border: none;
      &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: $icon-dark;
      }
    }

  }
}

.about-place {
  background: $light-bg;
  &.cafe{
      padding-bottom: 80px;
  }
  .container {
    max-width: 1170px;
    padding: 80px 0 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    h2 {
      font-family: "PT Serif";
      font-size: 42px;
      font-weight: 400;
      margin: 0;
    }
    .text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      p {
        color: $text-medium;
        width: 46%;
      }
    }
    .social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 20px;
      a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        color: $icon-dark;
        width: 44px;
        height: 44px;
        border: 1px solid $icon-dark-border;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        margin: 0 10px;
        font-size: 20px;
        -webkit-transition: background ease 0.2s;
        -o-transition: background ease 0.2s;
        -moz-transition: background ease 0.2s;
        transition: background ease 0.2s;
        .icon-facebook {
          font-size: 30px;
        }
        .icon-inst{
          margin-left: 1px;
          margin-bottom: 1px;
          font-size: 19px;
        }
        &:hover {
          color: white;
        }
      }
    }
    .buttons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 10px;
      .large-btn {
        width: 340px;
        height: 62px;
        margin: 0 5px;
      }
    }
  }
}

.advantages {
  height: 540px;
  background: url("../img/item-adv-bg.jpg") center no-repeat transparent;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  .container {
    max-width: 1600px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 210px 0;
    > div {
      width: 25%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      color: white;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      &.address-cafe a {
        display: none
      }
      i {
        font-size: 36px;
        margin-bottom: 20px;
      }
      span {
        font-family: "PT Serif";
        font-style: italic;
        text-shadow: 0px 2px 2px rgba(22, 21, 34, 0.4);
        p,a {
          margin: 0;
          font-family: 'PT Sans', sans-serif;
          font-style: normal;
          text-decoration: none;
          color: white;
        }
      }

    }

  }
}

.kitchen {
  background: url("../img/kitchen-times-bg.png") center 215px no-repeat $light-bg;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  .container {
    max-width: 1170px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .left {
    width: 48%;
    > img {
      height: 100%;
      width: auto;
    }

  }
  .right {
    width: 48%;
    min-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    h2 {
      font-family: "PT Serif";
      font-size: 42px;
      font-weight: 400;
      margin: 0;
    }
    > p {
      font-family: "PT Serif";
      font-size: 14.92px;
      font-weight: 400;
      font-style: italic;
      color: $text-medium;
    }
    div {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 10px 0;
      p {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
        span {
          font-size: 14px;
        }
      }
      > img {
        width: auto;
        height: 50px;
      }
    }
    .download {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -moz-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      a {
        color: $text-high;
        margin-top: 15px;
        text-decoration: none;
        display: inline-block;
        position: relative;
        i {
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }

  }
}

.meals {
  .container {
    max-width: 1600px;
    text-align: center;
    padding: 75px 0;
    h2 {
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
    }
    p {
      color: $text-medium;
      margin: 10px 0 40px;
    }
  }
  .item{
    position: relative;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 15px;
    &:hover {
      figure {
        > span {
          bottom: 50px;
          z-index: 99;
        }
      }
    }
    .overlay {
      position: initial;
    }

    figure {
      width: 100%;
      height: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        z-index: 1;
        background: rgba(0, 0, 0, 0);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(9, 8, 13, 0) 24%, rgba(37, 35, 54, 0.8) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(24%, rgba(9, 8, 13, 0)), color-stop(100%, rgba(37, 35, 54, 0.8)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(9, 8, 13, 0) 24%, rgba(37, 35, 54, 0.8) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(9, 8, 13, 0) 24%, rgba(37, 35, 54, 0.8) 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(24%, rgba(9, 8, 13, 0)), to(rgba(37, 35, 54, 0.8)));
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(9, 8, 13, 0) 24%, rgba(37, 35, 54, 0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#252336', GradientType=0);
      }
      &:hover:after {
        opacity: 1;
        z-index: 1;
    }
      > span {
        position: absolute;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: "PT Serif";
        left: 0;
        font-style: italic;
        color: white;
        text-align: center;
        bottom: -20px;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        &:after{
          content: '';
          background: white;
          height: 60px;
          width: 1px;
          position: absolute;
          left: 50%;
          top: 25px;
        }
      }
    }
  }
  .owl-nav {
    position: absolute;
    top: 45%;
    width: 100%;
    z-index: 999;
    .owl-prev {
      left: -62px;
      position: absolute;
    }
    .owl-next {
      right: -62px;
      position: absolute;
    }
    [class*=owl-] {
      width: 42px;
      height: 42px;
      padding: 0;
      margin: 0;
      background: transparent;
      cursor: pointer;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid #93929b;
      color: $text-high;
      font-size: 18px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: background ease 0.2s;
      -o-transition: background ease 0.2s;
      -moz-transition: background ease 0.2s;
      transition: background ease 0.2s;
    }
  }
}

.hall {
  background: url("../img/kitchen-times-bg.png") center 190px no-repeat $light-bg;
  .container {
    .left {
      padding-top: 50px;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      p {
        color: $text-medium;
      }
      .large-btn {
        margin-top: 30px;
        i {
          color: $text-high;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          i {
            color: white;
          }
        }
      }
    }
    .right {
      width: 50%;
      .box-to-carousel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        .item {
          width: 48%;
          height: 350px;

          div {
            &.square {
              height: 280px;
              margin: 20px 0 0;
            }
            width: 100%;
            height: 100%;
          }
          &:first-of-type {
            div {
              background: url("../img/hall1.jpg") center no-repeat;
            }
          }
          &:nth-child(2) {
            div {
              background: url("../img/hall2.jpg") center no-repeat;
            }
          }
          &:nth-child(3) {
            div {
              background: url("../img/hall3.jpg") center no-repeat;
            }
          }
          &:last-of-type {
            div {
              margin: -30px 0 0;
              background: url("../img/hall4.jpg") center no-repeat;
            }
          }
          &:nth-child(even) {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

.events {
  .container {
    max-width: 1600px;
    padding: 80px 0 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px solid #d6d6d9;
    h2 {
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  /**
 * Tabs
 */
  .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; // make sure it wraps
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    label {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; // Put the labels first
      display: block;
      font-family: "PT Serif";
      color: $text-medium;
      font-style: italic;
      cursor: pointer;
      margin: 0 25px;
    }
    .tab {
      -webkit-box-ordinal-group: 100;
      -webkit-order: 99;
      -moz-box-ordinal-group: 100;
      -ms-flex-order: 99;
      order: 99; // Put the tabs last
      flex-grow: 1;
      width: 100%;
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 40px;
      .row {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 20px;

      }
    }
    input[type="radio"] {
      position: absolute;
      opacity: 0;
    }
    input[type="radio"]:checked + label {
      border-bottom: 1px solid $text-medium;
    }
    input[type="radio"]:checked + label + .tab {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

  &.gray {
    background: $light-bg;
    .container {
      padding: 50px 0 60px;
    }
    h1 {
      font-size: 42px;
      font-family: "PT Serif";
      font-weight: 400;
      text-transform: none;
      margin: 0;
      text-align: center;
      margin-bottom: 20px;
    }
    button.circle {
      background: white;

    }
  }
}

.photo-reports {
  &.gray {
    background: $light-bg;
    button.circle {
      background: white;
    }
  }
  .container {
    max-width: 1600px;
    padding: 60px 0 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    h2 {
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
    }
    p {
      color: $text-medium;
      margin: 10px 0 40px;
    }
    .wrapper {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .left, .right {
      width: 49.5%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      > div {
        position: relative;
        padding: 0;
        height: 490px;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 15px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: auto;
          width: 100%;
          -webkit-transform: translateZ(0) scale(1);
          -moz-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
          -webkit-transition: -webkit-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition: -webkit-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          -o-transition: -o-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          -moz-transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), -moz-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), -moz-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), -o-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);

        }
        &:hover {
          figure {
            > span {
              bottom: 70px;
              z-index: 99;
            }
          }
          img{
            -webkit-transform: translateZ(0) scale(1.05);
            -moz-transform: translateZ(0) scale(1.05);
            transform: translateZ(0) scale(1.05);
          }
        }
        .overlay {
          position: initial;
        }

        &:first-child {
          margin-left: 0;
        }

        figure {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin: 0;
          overflow: hidden;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          &:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            -moz-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            z-index: 1;
            background: rgba(0, 0, 0, 0);
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(9, 8, 13, 0) 24%, rgba(37, 35, 54, 0.8) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(24%, rgba(9, 8, 13, 0)), color-stop(100%, rgba(37, 35, 54, 0.8)));
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(9, 8, 13, 0) 24%, rgba(37, 35, 54, 0.8) 100%);
            background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(9, 8, 13, 0) 24%, rgba(37, 35, 54, 0.8) 100%);
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(24%, rgba(9, 8, 13, 0)), to(rgba(37, 35, 54, 0.8)));
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(9, 8, 13, 0) 24%, rgba(37, 35, 54, 0.8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#252336', GradientType=0);

          }
          &:hover:after {
            opacity: 1;
            z-index: 1;
 }
          > span {
            left: 0;
            position: absolute;
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
            color: white;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            bottom: 20px;
            text-shadow: 0px 2px 2px rgba(22, 21, 34, 0.4);
            -webkit-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            -moz-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            > span {
              font-family: "PT Serif";
              text-transform: none;
              font-size: 16px;
              font-weight: 400;
              font-style: italic;
            }
          }
        }
        &.large {
          width: 100%;
          height: 505px;
        }
        &.small {
          width: 49%;
          height: 282px;
        }
        &.medium {
          width: 49%;
          height: 505px;
        }
      }
    }
  }
}

.reviews {
  background: url("../img/reviews-bg.jpg") center transparent no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .container {
    max-width: 530px;
    padding: 60px 0 115px;
    .owl-reviews {
      .owl-nav {
        position: absolute;
        top: 54%;
        width: 100%;
        z-index: 999;
        .owl-prev {
          left: -75px;
          position: absolute;
        }
        .owl-next {
          right: -75px;
          position: absolute;
        }
        [class*=owl-] {
          width: 42px;
          height: 42px;
          padding: 0;
          margin: 0;
          background: transparent;
          cursor: pointer;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          border: 1px solid #93929b;
          color: $text-high;
          font-size: 18px;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -moz-transition: all ease 0.2s;
          transition: all ease 0.2s;
          &:hover {
            color: white;
          }
        }
      }
      .item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: "PT Serif";
        text-align: center;
        img {
          width: initial;
        }
        span {
          font-weight: 700;
          font-size: 20px;
          margin-top: 35px;
        }
        p {
          font-style: italic;
          color: $text-medium;
          line-height: 28px;
          margin: 0 0 20px;
        }
        a {
          font-style: italic;
          color: $text-high;
          text-decoration: none;
          border-bottom: 1px solid $text-high;
        }
      }
    }
    .leave-comment {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 100px;
      span {
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 700;
      }
      p {
        margin: 5px 0 0;
      }
      .social {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
        a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          text-decoration: none;
          color: $icon-dark;
          width: 40px;
          height: 40px;
          border: 1px solid $icon-dark-border;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          margin: 0 8px;
          font-size: 20px;
          -webkit-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -moz-transition: all ease 0.2s;
          transition: all ease 0.2s;
          .icon-facebook {
            font-size: 30px;
          }
          &:hover {
            color: white;
            border: 1px solid $icon-dark;
          }
        }
      }
    }
  }
}

.item-contacts {
  background: $icon-dark;
  .container {
    max-width: 1600px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    > div {
      width: 33.33%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      color: white;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      border-right: 1px solid #3e3c4c;
      padding: 30px 0;
      &:first-of-type {
        border-left: 1px solid #3e3c4c;
      }
      i {
        font-size: 36px;
        margin-bottom: 20px;
        color: $text-medium;
      }
      span {
        font-family: "PT Serif";
        font-style: italic;
        text-shadow: 0px 2px 2px rgba(22, 21, 34, 0.4);
        p {
          margin: 0;
          font-family: 'PT Sans', sans-serif;
          font-style: normal;
          a {
            color: white;
            text-decoration: none;
          }
        }
      }

    }
  }
}

.item-contacts .container > div.coordinates {
  display: none;
}

#map {
  height: 540px;
}

button.circle {
  width: 80px;
  height: 80px;
  border: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: $light-bg;
  color: $text-high;
  font-style: italic;
  font-family: "PT Serif";
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  i {
    font-size: 31px;
    height: 4px;
    margin-bottom: 20px;
    margin-top: -10px;
    color: $text-medium;
  }
  &:hover {
    color: white;
    i {
      color: $text-medium;
    }
  }
}

.gallery {
  background: $light-bg;
  padding: 20px 0 100px;

  .container {

  }
  .item {
    opacity: 0.3;
    -webkit-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    transition: 0.4s ease all;
    height: 660px;
    cursor: pointer;
    z-index: 999;
    .inner {
      display: none;
    }
    img {
      height: inherit;
    }
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
  }

  @media(max-width: 1000px) {
    .item {
      margin: 0;
      -webkit-transform: scale(.9);
      -moz-transform: scale(.9);
      -ms-transform: scale(.9);
      -o-transform: scale(.9);
      transform: scale(.9)
    }
  }

  .active .item {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    img {
      height: inherit;
    }
    .inner {
      display: block;
    }
  }

  .owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }

  .inner {
    position: absolute;
    font-size: 19px;
    font-style: italic;
    p {
      margin: 2px;
    }

  }

  .owl-controls {
    position: absolute;
    margin-top: 300px;
  }

  .owl-nav {
    padding: 0 373px;
    position: absolute;
    top: 42%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
    [class*=owl-] {
      width: 42px;
      height: 42px;
      padding: 0;
      margin: 5px 0;
      background: transparent;
      cursor: pointer;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid #93929b;
      color: $text-high;
      font-size: 18px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: background ease 0.2s;
      -o-transition: background ease 0.2s;
      -moz-transition: background ease 0.2s;
      transition: background ease 0.2s;
      &:hover {
        background: $text-high;
        color: white;
      }
    }
  }

  .owl-loaded {
    overflow: hidden;
  }
  .owl-dots {
    counter-reset: slides-num;
    position: absolute;
    padding: 0 420px;
    bottom: 20px;
    width: 100%;

    &:after {
      content: counter(slides-num); /* get total number of items - more info on http://www.sitepoint.com/a-little-known-way-to-replace-some-scripts-with-css-counters/ */
      display: inline-block;
      font-size: 19px;
      vertical-align: middle;
      padding-left: 5px;
      float: right;
      color: $text-medium;
      font-style: italic;
    }
  }
  .owl-stage-outer {
    padding-bottom: 50px;
  }
  .owl-dot {
    position: relative;
    counter-increment: slides-num; /* Increment counter */
    margin-right: 5px;
    position: relative;

    span {
      display: none;
    }

    &.active {

      &:before {
        content: counter(slides-num) " /"; /* Use the same counter to get current item. */
        display: inline-block;
        vertical-align: middle;
        font-size: 19px;
        font-style: italic;
        color: $text-medium;
        position: absolute;
        right: 13px;
      }
    }
  }

}

.s2{
  .gallery{
    padding: 100px 0 100px;
  }
}

.s1{
  .about-place .container{
    padding-bottom: 0;
  }
}


.events .tabs .tab .row .item {
  margin: 0 2px 15px;
  padding-bottom: 10px;
  -webkit-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
  line-height: 0;
  overflow: hidden;
  .photo {
    width: 100%;
    line-height: 0;
    height: auto;
    img {
      width: 100%;
      -webkit-transform: translateZ(0) scale(1);
      -moz-transform: translateZ(0) scale(1);
      transform: translateZ(0) scale(1);
      -webkit-transition: -webkit-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition: -webkit-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      -o-transition: -o-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      -moz-transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), -moz-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), -moz-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), -o-transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    }
  }
  &:hover .photo img{
    -webkit-transform: translateZ(0) scale(1.05);
    -moz-transform: translateZ(0) scale(1.05);
    transform: translateZ(0) scale(1.05);
  }
  .info {
    color: #444;
    line-height: 1.5;
    background: white;
    text-align: center;
    a {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: $text-high;
      padding: 20px;

      .date {
        font-size: 12px;
        font-weight: 400;
      }
      .place {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        text-transform: none;
        text-decoration: none;
        color: $text-medium;
      }
    }
  }
  &:hover .info .button-2 {
    &:before {
      top: 0;
    }
    color: white;
  }
}

  // Burger menu button
  $burger--thickness: 4px;


  // * * * Navigation * * *
  $navigation__transition: max-height 0.5s ease-in-out;
.burger-check{
  color: white;
  font-size: 39px;
  cursor: pointer;
  min-height: 43px;
  &.icon-close{
    color: $text-high;
    font-size: 22px;
    min-height: 43px;
    line-height: 43px;
  }
}
.menu-dropdown{
  width: 280px;
  text-align: center;
  position: relative;
  margin-left: 20px;
  transition: all 0.8s ease-in-out;
  height: 43px;
  &.active-menu1{
    background: white;

  }
}


  .navigation1 {
    overflow: hidden;
    position: absolute;
    max-height: 0;
    transition: $navigation__transition;
    width: 100%;
    ul{
      z-index: 1;
      margin: 0;
      padding: 0;
      -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
      li{
        a{
          display: block;
          background: white;
          text-decoration: none;
          font-size: 13px;
          color: #161522;
          min-height: 20px;
          line-height: 20px;
          padding: 15px;
          text-transform: capitalize;
          margin: 0;
          border-top: 1px solid #c0c0c4;
        }
      }
    }
  }

  .navigation1 {
    &.active {
      max-height: 500px;
      position: absolute;
      width: 100%;
      transition: $navigation__transition;
    }
  }



.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  i{
    color: white;
    font-size: 51px;
    margin-top: 10px;
    position: absolute;
  }

  .loading-dot {
    float: left;
    width: 5px;
    height: 5px;
    margin: 2px 0;
    background: white;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    opacity: 0;

    -webkit-animation: loadingFade 1s infinite;
    -moz-animation: loadingFade 1s infinite;
    animation: loadingFade 1s infinite;
  }


  .loading-dot:nth-child(1) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
  }

  .loading-dot:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  .loading-dot:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }



  @-webkit-keyframes loadingFade {
    0% { opacity: 0; }
    50% { opacity: 0.8; }
    100% { opacity: 0; }
  }

  @-moz-keyframes loadingFade {
    0% { opacity: 0; }
    50% { opacity: 0.8; }
    100% { opacity: 0; }
  }

  @keyframes loadingFade {
    0% { opacity: 0; }
    50% { opacity: 0.8; }
    100% { opacity: 0; }
  }
}

