@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&subset=cyrillic');
@import "../fonts/style.css";
@import "normalize.css";
@import "colors";
@import "common";
@import "cart";
@import "buttons";

body {
  font-family: 'PT Sans', sans-serif;
}

/*HOME*/
.home-slider {
  background: black;
  .row {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
  }

  .carouselwrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }

  .carousel {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
  }

  .carousel .item {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
  }

  .carousel .item img {
    opacity: .2;
    max-height: 536px;
    cursor: pointer;
  }

  .carousel .item .mainimg {
    opacity: 1;
    cursor: default;
  }

  .back_btn {
    position: absolute;
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 22%;
    z-index: 50000000;
    top: 46%;
    cursor: pointer
  }

  .next_btn {
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: 22%;
    z-index: 50000000;
    top: 46%;
    cursor: pointer
  }

  .no_select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid rgba(225, 225, 225, 0.5);
    i {
      color: white;
    }
  }
}

.cafes, .hotels {
  .container {
    max-width: 1600px;
    padding: 60px 0;
    text-align: center;
    h2 {
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 1.5px;
      margin: 0 0 20px;
      text-transform: uppercase;
    }
    > p {
      width: 368px;
      margin: 0 auto;
      margin-bottom: 30px;
      color: $text-medium;
    }
  }
  .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    > div {
      position: relative;
      padding: 0;
      height: 490px;
      overflow: hidden;
      cursor: pointer;
      img {
        -webkit-transform: translateZ(0) scale(1);
        -moz-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
        -webkit-transition: -webkit-transform 1s cubic-bezier(.445, .05, .55, .95);
        transition: -webkit-transform 1s cubic-bezier(.445, .05, .55, .95);
        -o-transition: -o-transform 1s cubic-bezier(.445, .05, .55, .95);
        -moz-transition: transform 1s cubic-bezier(.445, .05, .55, .95), -moz-transform 1s cubic-bezier(.445, .05, .55, .95);
        transition: transform 1s cubic-bezier(.445, .05, .55, .95);
        transition: transform 1s cubic-bezier(.445, .05, .55, .95), -webkit-transform 1s cubic-bezier(.445, .05, .55, .95), -moz-transform 1s cubic-bezier(.445, .05, .55, .95), -o-transform 1s cubic-bezier(.445, .05, .55, .95);
        height: auto;
        width: 100%;
      }
      &:hover {
        img {
          -webkit-transform: translateZ(0) scale(1.05);
          -moz-transform: translateZ(0) scale(1.05);
          transform: translateZ(0) scale(1.05);
        }
        span {
          bottom: 90px;
          opacity: 1;
          z-index: 100;
        }
      }
      span {
        position: absolute;
        bottom: 0;
        z-index: -1;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        color: white;
        font-size: 16px;
        font-family: "PT Serif";
        font-style: italic;
        text-decoration: none;
        text-align: center;
        -webkit-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        opacity: 0;
        &:after {
          content: '';
          background: white;
          height: 60px;
          width: 1px;
          position: absolute;
          left: 50%;
          top: 25px;
        }
      }

      .overlay {
        position: relative;
        &:after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          -webkit-transition: .4s cubic-bezier(.455, .03, .515, .955);
          -o-transition: .4s cubic-bezier(.455, .03, .515, .955);
          -moz-transition: .4s cubic-bezier(.455, .03, .515, .955);
          transition: .4s cubic-bezier(.455, .03, .515, .955);
        }
        &:hover:after {
          -webkit-transition: .4s cubic-bezier(.455, .03, .515, .955);
          -o-transition: .4s cubic-bezier(.455, .03, .515, .955);
          -moz-transition: .4s cubic-bezier(.455, .03, .515, .955);
          transition: .4s cubic-bezier(.455, .03, .515, .955);
          opacity: 1;
          background: rgba(0, 0, 0, 0);
          background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(9, 8, 13, 0) 24%, rgba(37, 35, 54, 0.8) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(24%, rgba(9, 8, 13, 0)), color-stop(100%, rgba(37, 35, 54, 0.8)));
          background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(9, 8, 13, 0) 24%, rgba(37, 35, 54, 0.8) 100%);
          background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(9, 8, 13, 0) 24%, rgba(37, 35, 54, 0.8) 100%);
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(24%, rgba(9, 8, 13, 0)), to(rgba(37, 35, 54, 0.8)));
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(9, 8, 13, 0) 24%, rgba(37, 35, 54, 0.8) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#252336', GradientType=0);
        }
      }

      &:first-child {
        margin-left: 0;
      }

      .name {
        position: absolute;
        text-align: center;
        color: white;
        z-index: 100;
        h3 {
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 700;
          text-shadow: 0px 2px 2px rgba(22, 21, 34, 0.4);
          letter-spacing: 1.5px;
          margin: 0 0 12px;
        }
        p {
          font-family: "PT Serif";
          font-style: italic;
          text-shadow: 0px 2px 2px rgba(22, 21, 34, 0.4);
          margin: 0;
        }
      }

      figure {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: #fff;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
      }

      &.item1, &.item2 {
        width: 49.5%;
      }
      &.item3, &.item4, &.item5, &.item6 {
        width: 24.25%;
        margin-top: 1%;
        figure {
          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }
  }

}

.hotels {
  .container {
    padding-top: 0;
  }
}

.restaurants-list .info .header .call {
  display: none;
}

.restaurants-list .info .info-list li {
  &.today {
    display: none;
  }
}

/*Event*/

.main-info-event {
  background: $light-bg;
  .container {
    max-width: 1600px;
    padding: 30px 0 60px;
    border-bottom: 1px solid #d6d6d9;
    .wrapper {
      max-width: 1060px;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .poster {
      width: 49%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 20px 44px;
      background: white;
      img {
        width: 100%;
        height: auto;
      }
    }
    .info {
      width: 49%;
      background: white;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 20px;
      .head {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        padding-bottom: 25px;
        border-bottom: 1px solid #d6d6d9;
        h1 {
          font-family: "PT Serif";
          font-size: 26px;
          font-weight: 400;
          margin: 35px 0 10px;

        }
        p {
          font-family: "PT Serif";
          color: $text-medium;
          font-style: italic;
          margin: 0 0 20px;
        }
      }
      .contacts {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        > div {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -moz-box-orient: vertical;
          -moz-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          color: $text-high;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          text-align: center;
          padding: 20px 0;
          i {
            font-size: 32px;
            margin-bottom: 8px;
          }
          span {
            font-family: "PT Serif";
            font-style: italic;
            p {
              margin: 0;
              font-family: "PT Sans";
              font-style: normal;
            }
          }

        }
      }

    }
    .description {
      p {
        width: 60%;
        margin: 0 auto;
        color: $text-medium;
        margin-top: 30px;
      }
    }
  }
}

.header-full .content .bttns {
  display: none;
}

.gallery.career {
  padding: 20px 0 50px;
  .head {
    max-width: 1600px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    h1 {
      font-family: "PT Serif";
      font-weight: 400;
      font-size: 42px;
      margin: 10px 0 0;
    }
    p {
      width: 40%;
      color: $text-medium;
      margin: 15px 0 35px;
    }
  }
}

.career-list {
  background: $light-bg;
  .container {
    max-width: 1060px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  select {
    width: 100%;
    height: 52px;
    margin-bottom: 20px;
    border: 1px solid $text-medium;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: $text-high;
  }
  .select-wrapper {
    position: relative;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 43%;
    &:after {
      content: '\e912';
      font-family: icomoon;
      position: absolute;
      color: $text-high;
      font-size: 33px;
      right: 0;
      top: 0;
      line-height: 52px;

    }
  }

  .accordion {
    width: 100%;
    margin: 0 auto 100px;
    border-top: 1px solid #d9e5e8;
    padding: 0;
    list-style-type: none;
    > li {
      border-bottom: 1px solid #d0d0d3;
      position: relative;
      div {
        display: none;
        padding: 0 0 30px;

        > p {
          font-weight: 700;
          text-transform: uppercase;
          color: $text-high;
          margin-bottom: 5px;
          &:first-of-type {
            margin-top: 0;
          }
        }
        > ul {
          list-style: none;
          padding: 0;
          margin: 0;
          padding-left: 20px;
          width: 60%;
          li {
            padding-left: 1em;
            text-indent: -.7em;
            color: $text-medium;
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            &:before {
              content: "";
              width: 6px;
              height: 6px;
              -webkit-border-radius: 100%;
              -moz-border-radius: 100%;
              border-radius: 100%;
              background: $text-high;
              top: 9px;
              left: 0px;
              position: absolute;
            }
          }
        }
        > span {
          > span {
            color: $text-medium;
            font-style: italic;
          }
        }
        .large-btn {
          width: initial;
          padding: 0 50px;
          margin-top: 20px;
        }

      }
    }
    a {
      padding: 20px 0;
      cursor: pointer;
      font-weight: 400;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-right: 40px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      > p {
        margin: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        line-height: initial;
        font-weight: 700;
        font-size: 20px;
        span {
          color: $text-medium;
          font-size: 16px;
          font-weight: 400;
          font-style: italic;
          font-family: "PT Serif";
        }
      }
      &:after {
        width: 8px;
        height: 8px;
        border-right: 1px solid $text-medium;
        border-bottom: 1px solid $text-medium;
        position: absolute;
        right: 10px;
        content: " ";
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        top: 42%;
      }
      &.active:after {
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        top: 48%;
      }
    }
  }
}

.contacta-main-info {
  background: $light-bg;

  h1 {
    font-size: 42px;
    font-weight: 400;
    font-family: "PT Serif";
    margin-bottom: 20px;
    margin-top: 0;
  }
  .container {
    max-width: 1060px;
    padding: 20px 0 60px;
    text-align: center;
  }
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  .info {
    width: 49%;
    padding: 30px 20px 40px;
    background: $icon-dark;
  }
  .form {
    width: 49%;
    background: white;
    padding: 25px 20px 40px;
    span {
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-weight: 700;
    }
    p {
      color: $text-medium;
      margin: 10px 0 25px;
    }
    form {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      select, input[type='text'], input[type='tel'], textarea {
        width: 100%;
        height: 52px;
        margin-bottom: 20px;
        border: 1px solid $text-medium;
        padding-left: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        color: $text-high;
        &::-webkit-input-placeholder {
          color: $text-medium;
        }
        &::-moz-placeholder {
          color: $text-medium;
        }
        &:-ms-input-placeholder {
          color: $text-medium;
        }
        &:-moz-placeholder {
          color: $text-medium;
        }
        background-color: #f8fafb;
        -webkit-transition: .4s cubic-bezier(.455, .03, .515, .955);
        -o-transition: .4s cubic-bezier(.455, .03, .515, .955);
        -moz-transition: .4s cubic-bezier(.455, .03, .515, .955);
        transition: .4s cubic-bezier(.455, .03, .515, .955);
        &:focus {
          background: white;
          border: 1px solid $icon-dark;
        }
      }

      textarea {
        height: 125px;
        padding-top: 15px;
      }

      select {

        margin-bottom: 0;
      }
      .select-wrapper {
        position: relative;
        margin-bottom: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        &:after {
          content: '\e912';
          font-family: icomoon;
          position: absolute;
          color: $text-high;
          font-size: 33px;
          right: 0;
        }
      }
    }
  }
  .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; // make sure it wraps
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    label {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; // Put the labels first
      display: block;
      font-family: "PT Serif";
      color: $text-medium;
      font-style: italic;
      cursor: pointer;
      margin: 0 10%;
    }
    .tab {
      -webkit-box-ordinal-group: 100;
      -webkit-order: 99;
      -moz-box-ordinal-group: 100;
      -ms-flex-order: 99;
      order: 99; // Put the tabs last
      flex-grow: 1;
      width: 100%;
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 25px;
      border-top: 1px solid #4f4d5b;
      flex-direction: column;
      > div {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        color: white;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        padding: 40px 0 0;
        i {
          font-size: 32px;
          margin-bottom: 8px;
          color: $text-medium;
        }
        span {
          font-family: "PT Serif";
          font-style: italic;
        }
        p {
          margin: 0;
          font-family: "PT Sans";
          font-style: normal;
        }
      }

    }
    input[type="radio"] {
      position: absolute;
      opacity: 0;
    }
    input[type="radio"]:checked + label {
      border-bottom: 1px solid $text-medium;
      color: white;
    }
    input[type="radio"]:hover + label {

    }
    input[type="radio"]:checked + label + .tab {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
}

.banner-discount {
  height: 670px;
  background: url("../img/discount.jpg") center no-repeat transparent;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  h1 {
    font-family: "PT Serif";
    font-size: 68px;
    font-weight: 400;
    color: white;
    letter-spacing: 1.5px;
    text-shadow: 0px 2px 2px rgba(22, 21, 34, 0.4);
  }
}

.discount-content {
  padding: 70px 0 60px;
  .container {
    max-width: 1060px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .left {
    width: 50%;
    p {
      margin: 0 0 25px;
      span {
        font-weight: 700;
      }
    }
  }
  .right {
    width: 48%;
    .discount-table {
      border-collapse: collapse;
      padding: 5px;
      width: 100%;
      th {
        border: 1px solid transparent;
        padding: 12px;
        background: $icon-dark;
        width: 50%;
        text-align: left;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        height: 54px;
      }

      td {
        border: 1px dotted $icon-dark;
        padding: 12px;
        width: 50%;
        height: 54px;
        &:last-of-type {
          border-left: 1px solid transparent;
          font-weight: 700;
        }
      }
      tbody {
        tr {
          &:nth-child(odd) {
            background: $light-bg;
          }
        }
      }
    }
    p {
      color: $text-medium;
      font-size: 14px;
      font-style: italic;
      span {
        color: $text-high;
      }
    }
  }

}

.error404 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background: $light-bg;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: -webkit-calc(100vh - 259px);
  min-height: -moz-calc(100vh - 259px);
  min-height: calc(100vh - 259px);
  span {
    font-size: 20px;
    margin-top: 35px;
  }
}

.events-grid {
  background: $light-bg;
  .container {
    max-width: 1600px;
    text-align: center;
    padding: 30px 0 60px;
    h1 {
      font-family: "PT Serif";
      font-size: 42px;
      font-weight: 400;
      margin: 0;
    }
  }
  .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; // make sure it wraps
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    label {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; // Put the labels first
      display: block;
      font-family: "PT Serif";
      color: $text-medium;
      font-style: italic;
      cursor: pointer;
      margin: 0 25px;
    }
    .tab {
      -webkit-box-ordinal-group: 100;
      -webkit-order: 99;
      -moz-box-ordinal-group: 100;
      -ms-flex-order: 99;
      order: 99; // Put the tabs last
      flex-grow: 1;
      width: 100%;
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 40px;
      .row {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 20px;
        .item {
          width: 24%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -moz-box-orient: vertical;
          -moz-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          .photo {
            height: 360px;
            overflow: hidden;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            img {
              width: 100%;
              height: auto;
            }
          }
          .info {
            background: white;
            text-align: center;
            padding: 20px;
            a {
              width: 100%;
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
              -moz-box-orient: vertical;
              -moz-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              font-size: 18px;
              font-weight: 700;
              text-transform: uppercase;
              text-decoration: none;
              color: $text-high;
              .date {
                font-size: 12px;
                font-weight: 400;
              }
              .place {
                font-size: 16px;
                font-weight: 400;
                font-style: italic;
                text-transform: none;
                text-decoration: none;
                color: $text-medium;
              }
            }
            -webkit-transition: background ease 0.2s;
            -o-transition: background ease 0.2s;
            -moz-transition: background ease 0.2s;
            transition: background ease 0.2s;

            &:hover {
              background: $icon-dark;
              a {
                color: white;
                .place {
                  color: $text-medium;
                }
              }
            }
          }
        }
      }
    }
    input[type="radio"] {
      position: absolute;
      opacity: 0;
    }
    input[type="radio"]:checked + label {
      border-bottom: 1px solid $text-medium;
    }
    input[type="radio"]:checked + label + .tab {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  .columns {
    -webkit-column-width: 320px;
    -moz-column-width: 320px;
    column-width: 320px;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    .item {
      margin: 0 2px 15px;
      padding-bottom: 10px;
      -webkit-transition: opacity .4s ease-in-out;
      -o-transition: opacity .4s ease-in-out;
      -moz-transition: opacity .4s ease-in-out;
      transition: opacity .4s ease-in-out;
      display: inline-block;
      column-break-inside: avoid;
      line-height: 0;
      .photo {
        width: 100%;
        line-height: 0;
        height: auto;
        img {
          width: 100%;
        }
      }
      .info {
        color: #444;
        line-height: 1.5;
        background: white;
        text-align: center;
        a {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -moz-box-orient: vertical;
          -moz-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          color: $text-high;
          padding: 20px;

          .date {
            font-size: 12px;
            font-weight: 400;
          }
          .place {
            font-size: 16px;
            font-weight: 400;
            font-style: italic;
            text-transform: none;
            text-decoration: none;
            color: $text-medium;
          }
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    #columns {
      -webkit-column-gap: 0px;
      -moz-column-gap: 0px;
      column-gap: 0px;
    }
    #columns figure {
      width: 100%;
    }
  }
}

.catalog-nav .nav-cat .main-nav a:nth-child(6) {
  border-left: 1px solid #474553;
}

.catalog-nav {
  background-color: #271607;
}

@media screen and (max-width: 1600px) {
  header .header, header .navigation, footer .container, .events-grid .container, .events .container, .events.gray .container, .photo-reports .container, .feedback .container, .cafes .container, .hotels .container, .error404, .meals .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .meals .container {
    max-width: 90%;
  }
  .gallery .owl-dots {
    padding: 0 350px;
  }
}

@media screen and (max-width: 1400px) {
  .gallery .owl-dots {
    padding: 0 300px;
  }
  .text-block .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .cafes .wrapper > div:hover span, .hotels .wrapper > div:hover span {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .gallery .owl-dots {
    padding: 0 250px;
  }
  .text-block .container, .events .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .gallery .owl-dots {
    padding: 0 190px;
  }
}

@media screen and (max-width: 600px) {
  .gallery .owl-dots {
    padding: 0 100px;
  }
}

@import "tablet";

@import "mobile";

/*delete it*/
@import "temp";




