/* Put your CSS code in the left column, instead of example, to put or remove unnecessary prefixes. */
@import url(../fonts/stylesheet.css);
.example {
  display: -ms-flexbox;
  display: flex;
  transition: all .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(to bottom, white, black); }

/*------------FONTS------------*/
/*------------COLOR------------*/
.btn {
  border-radius: 50px;
  width: 260px;
  height: 66px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative; }
  .btn:active {
    -ms-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0 1px 0 0; }
  .btn.orange {
    background-color: #ffab41;
    box-shadow: 0 5px 0 0 #ff8e2e; }
    .btn.orange:hover {
      background-color: #FF983C;
      box-shadow: 0 5px 0 0 #ee842d; }
  .btn.yellow {
    background-color: #faf16e;
    box-shadow: 0 5px 0 0 #fbc94e;
    color: #475062; }
    .btn.yellow:hover {
      background-color: #FFDE29;
      box-shadow: 0 5px 0 0 #e8bb46; }

.container {
  position: relative;
  margin: 0 auto; }

body {
  margin: 0;
  font-family: 'pf_beausans_pro', sans-serif;
  color: #767988; }

header {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  header .headerleft {
    width: 50%;
    height: 83%;
    background: url("../img/bg1.jpg") left top repeat; }
    header .headerleft .clock {
      width: 190px;
      height: 190px;
      background: url("../img/clock.png") transparent no-repeat;
      z-index: 5;
      position: absolute;
      top: 5%;
      left: 12%; }
      header .headerleft .clock svg {
        display: block;
        margin: 0 auto; }
    header .headerleft .back {
      position: absolute;
      bottom: 12.3%;
      left: 4%;
      z-index: 1;
      width: 977px;
      height: 644px;
      background: url("../img/header-img.png") center center no-repeat transparent; }
      header .headerleft .back .bag {
        position: absolute;
        width: 233px;
        height: 425px;
        bottom: 20px;
        right: 50px;
        background: url("../img/bag.png") center center no-repeat transparent; }
        header .headerleft .back .bag .round {
          width: 130px;
          height: 130px;
          background: url("../img/bg-coins.png") #383d50 no-repeat;
          border-radius: 50%;
          background-position-y: 50px;
          z-index: 5;
          position: absolute;
          top: 113px;
          left: 57px; }
          header .headerleft .back .bag .round .coin {
            position: absolute;
            bottom: 0;
            left: 38px;
            z-index: 10; }
      header .headerleft .back .coffee-cup {
        width: 41px;
        position: absolute;
        bottom: 57%;
        left: 68.6%;
        z-index: 0; }
        header .headerleft .back .coffee-cup-smoke {
          position: absolute;
          top: -14px;
          left: 49%;
          margin-left: 2px;
          animation: smokeAnim 1.8s infinite;
          zoom: 2.5; }
          header .headerleft .back .coffee-cup-smoke:after {
            content: "";
            width: 6px;
            height: 7px;
            border-left: 2px solid #cfcfcf;
            position: absolute;
            top: -6px;
            -ms-transform: translateX(-49%);
            transform: translateX(-49%);
            border-radius: 50%; }
          header .headerleft .back .coffee-cup-smoke:before {
            content: "";
            width: 6px;
            height: 7px;
            border-right: 2px solid #cfcfcf;
            position: absolute;
            left: -4px;
            -ms-transform: translateX(-49%);
            transform: translateX(-49%);
            border-radius: 50%; }
        header .headerleft .back .coffee-cup-smoke:nth-child(2) {
          left: 20%;
          zoom: 2; }
        header .headerleft .back .coffee-cup-smoke:nth-child(3) {
          left: 80%;
          zoom: 2; }
@keyframes smokeAnim {
  0% {
    top: -2px;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    top: -20px;
    opacity: 0; } }
  header .headerright {
    width: 50%;
    height: 83%; }
    header .headerright .container {
      padding-top: 11.5%;
      width: 620px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      header .headerright .container h1 {
        color: #41b574;
        font-weight: 900;
        font-size: 49px;
        margin: 52px 0 150px; }
      header .headerright .container .res {
        font-size: 20px;
        color: #475062; }
        header .headerright .container .res output {
          font-weight: 700; }
        header .headerright .container .res .rur::after {
          content: '';
          padding-top: 10px;
          margin-left: -12px;
          position: absolute;
          width: 9px;
          height: 5px;
          border-bottom: 2px solid #475062; }
      header .headerright .container .bubble {
        width: 83px;
        height: 89px;
        position: absolute;
        left: 181px;
        bottom: 220px;
        z-index: 100;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 15px 5px 15px;
        box-sizing: border-box;
        background: url("../img/bubble.png") center center no-repeat transparent; }
        header .headerright .container .bubble#txt {
          color: #fff;
          text-align: center;
          font-size: 18px; }
      header .headerright .container .sliderCalc {
        width: 100%;
        margin-bottom: 38px; }
        header .headerright .container .sliderCalc .irs-grid {
          width: 100% !important;
          left: 0 !important;
          font-family: 'pf_beausans_pro', sans-serif; }
          header .headerright .container .sliderCalc .irs-grid .irs-grid-text {
            font-size: 18px;
            bottom: -5px;
            top: 20px; }
          header .headerright .container .sliderCalc .irs-grid .js-grid-text-0 {
            margin-left: -0.7% !important; }
          header .headerright .container .sliderCalc .irs-grid .js-grid-text-2 {
            margin-left: -11.3% !important; }
        header .headerright .container .sliderCalc .irs-bar {
          height: 16px;
          top: 21px;
          background-color: #399a64;
          border-radius: 19px 0 0 19px;
          left: 1px; }
        header .headerright .container .sliderCalc .irs-line {
          height: 16px;
          top: 20px;
          background-color: #f2f2f2;
          border: 1px solid #e3e3e3;
          border-radius: 30px; }
        header .headerright .container .sliderCalc .irs-slider {
          top: 50%;
          margin-top: -34px;
          margin-left: -1px;
          cursor: pointer;
          width: 55px;
          height: 55px;
          border-radius: 50%;
          background-color: #f2f2f2;
          box-shadow: 0px 3px 7px 0px rgba(59, 62, 68, 0.35); }
          header .headerright .container .sliderCalc .irs-slider::after {
            content: '';
            position: absolute;
            top: 21px;
            left: 10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 6px 6px 0;
            border-color: transparent #475062 transparent transparent; }
          header .headerright .container .sliderCalc .irs-slider::before {
            content: '';
            position: absolute;
            top: 21px;
            right: 10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 0 6px 6px;
            border-color: transparent transparent transparent #475062; }
        header .headerright .container .sliderCalc .irs-with-grid {
          height: 70px; }
  header .headerbottom {
    width: 100%;
    height: 17%;
    background: #41b574;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px; }
    header .headerbottom p {
      font-weight: 700;
      font-size: 18px;
      color: white; }
    header .headerbottom .bounce {
      animation: bounce 2s infinite; }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); } }
#counter {
  background: #41b574; }
  #counter .container {
    padding: 15px 0 55px 0;
    max-width: 1170px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center; }
    #counter .container .counterblock {
      background: url("../img/bg2.png") center center no-repeat;
      width: 560px;
      height: 400px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 105px; }
      #counter .container .counterblock span {
        font-weight: 900;
        font-size: 62px;
        color: #41b574;
        letter-spacing: 15px;
        margin-left: 10px;
        height: 71px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center; }
      #counter .container .counterblock p {
        font-size: 24px;
        color: #475062;
        margin: 0; }
    #counter .container .advantages {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 10px 0 30px 0; }
      #counter .container .advantages div {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        max-width: 35%; }
        #counter .container .advantages div:first-child, #counter .container .advantages div:last-child {
          max-width: 25%; }
        #counter .container .advantages div p {
          font-size: 18px;
          color: white;
          margin: 4px 0 0 20px; }
    #counter .container .btn {
      width: 236px;
      height: 54px;
      font-size: 18px; }
      #counter .container .btn.yellow {
        color: #475062; }

#steps {
  background: #72c0e4; }
  #steps .container {
    padding: 130px 0 110px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 870px;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    #steps .container h1 {
      font-size: 32px;
      font-weight: 900;
      color: white;
      margin: 0;
      width: 100%;
      text-align: center; }
    #steps .container .active-img {
      content: url(../img/bg-setp-active.png);
      position: absolute;
      left: 0px;
      bottom: 80px;
      width: 54px;
      z-index: 12;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      /** Chrome & Safari **/
      -moz-transition: all 0.3s ease-in-out;
      /** Firefox **/
      -o-transition: all 0.3s ease-in-out;
      /** Opera **/ }
    #steps .container #owl-steps .owl-stage-outer {
      padding: 25px 0 20px 0; }
      #steps .container #owl-steps .owl-stage-outer .item {
        text-align: -webkit-center; }
        #steps .container #owl-steps .owl-stage-outer .item img {
          display: block;
          width: 473px;
          height: auto;
          padding-bottom: 6px; }
        #steps .container #owl-steps .owl-stage-outer .item p {
          font-size: 20px;
          color: white; }
          #steps .container #owl-steps .owl-stage-outer .item p span {
            font-weight: 700; }
    #steps .container #owl-steps .owl-nav {
      display: -ms-flexbox;
      display: flex;
      margin-top: 30px; }
      #steps .container #owl-steps .owl-nav .owl-prev, #steps .container #owl-steps .owl-nav .owl-next {
        font: 0/0 serif;
        text-shadow: none;
        color: transparent;
        background: url("../img/arrow-alider-blue.png") transparent center center no-repeat;
        opacity: 0.9;
        line-height: 0;
        outline: none;
        width: 51px;
        border: none;
        cursor: pointer;
        height: 58px;
        z-index: 10;
        position: absolute;
        right: 0;
        top: 34%; }
        #steps .container #owl-steps .owl-nav .owl-prev:hover, #steps .container #owl-steps .owl-nav .owl-next:hover {
          opacity: 1; }
      #steps .container #owl-steps .owl-nav .owl-prev {
        background: url("../img/arrow-alider-blue.png") transparent center center no-repeat;
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
        left: 0; }
    #steps .container #owl-steps .owl-dots {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 570px;
      -ms-flex-align: center;
      align-items: center;
      margin-top: -45px;
      z-index: 10; }
      #steps .container #owl-steps .owl-dots::before {
        content: "";
        position: absolute;
        background: #66abca;
        width: 517px;
        height: 1px;
        margin-left: 27px;
        z-index: -1; }
      #steps .container #owl-steps .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
        *display: inline; }
        #steps .container #owl-steps .owl-dots .owl-dot ::before {
          content: url("../img/bg-step.png");
          position: absolute;
          padding-top: 10px;
          width: 54px;
          height: 97px;
          z-index: 11; }
        #steps .container #owl-steps .owl-dots .owl-dot span {
          width: 54px;
          height: 18px;
          margin: 5px 0;
          background: url("../img/step-dot.png") center center no-repeat;
          display: block;
          -webkit-backface-visibility: visible;
          transition: opacity 200ms ease;
          border-radius: 30px;
          opacity: 0.9; }
        #steps .container #owl-steps .owl-dots .owl-dot.active span, #steps .container #owl-steps .owl-dots .owl-dot:hover span {
          background: url("../img/step-dot-active.png") center center no-repeat;
          opacity: 1; }
    #steps .container .btn {
      width: 236px;
      height: 54px;
      font-size: 18px;
      margin: 0 0 0 60px; }
      #steps .container .btn.yellow {
        color: #475062; }

#info {
  background: #f2f2f2; }
  #info .container {
    padding: 0 0 100px 0;
    max-width: 1170px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #info .container h1 {
      font-size: 36px;
      color: #41b574;
      width: 60%;
      text-align: center;
      margin: 60px 0 0 15px;
      letter-spacing: 1px; }
    #info .container div {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #info .container div p {
        width: 49%;
        line-height: 24px; }

#partners {
  display: -ms-flexbox;
  display: flex;
  max-height: 655px; }
  #partners .leftpartners {
    background: #72c0e4;
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px; }
    #partners .leftpartners h1 {
      font-weight: 700;
      font-size: 28px;
      color: white;
      text-align: center; }
      #partners .leftpartners h1 span {
        font-size: 26px;
        font-weight: 400; }
    #partners .leftpartners img {
      margin-top: 45px; }
  #partners .rightpartners {
    width: 50%; }
    #partners .rightpartners #banks-slider {
      padding: 75px 105px 90px 105px; }
      #partners .rightpartners #banks-slider .owl-stage-outer {
        width: 100%; }
        #partners .rightpartners #banks-slider .owl-stage-outer .owl-stage .owl-item .item {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center;
          background: #f2f2f2;
          height: 120px;
          width: 120px; }
          #partners .rightpartners #banks-slider .owl-stage-outer .owl-stage .owl-item .item img {
            width: 85%; }
          #partners .rightpartners #banks-slider .owl-stage-outer .owl-stage .owl-item .item:last-child {
            margin-top: 30px; }
      #partners .rightpartners #banks-slider .owl-nav {
        display: -ms-flexbox;
        display: flex;
        margin-top: 30px;
        -ms-flex-pack: center;
        justify-content: center; }
        #partners .rightpartners #banks-slider .owl-nav .owl-prev, #partners .rightpartners #banks-slider .owl-nav .owl-next {
          font: 0/0 serif;
          text-shadow: none;
          color: transparent;
          background: url("../img/arrow-alider-blue.png") transparent center center no-repeat;
          opacity: 0.9;
          line-height: 0;
          outline: none;
          width: 51px;
          border: none;
          cursor: pointer;
          height: 58px;
          margin-left: 85px;
          z-index: 10; }
          #partners .rightpartners #banks-slider .owl-nav .owl-prev:hover, #partners .rightpartners #banks-slider .owl-nav .owl-next:hover {
            opacity: 1; }
        #partners .rightpartners #banks-slider .owl-nav .owl-prev {
          background: url("../img/arrow-alider-blue.png") transparent center center no-repeat;
          -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
          margin-right: 85px;
          margin-left: 0; }
      #partners .rightpartners #banks-slider .owl-dots {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: -45px; }
        #partners .rightpartners #banks-slider .owl-dots .owl-dot {
          display: inline-block;
          zoom: 1;
          *display: inline; }
          #partners .rightpartners #banks-slider .owl-dots .owl-dot span {
            width: 18px;
            height: 18px;
            margin: 5px 7px;
            background: url("../img/dot.png") center center no-repeat;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity 200ms ease;
            border-radius: 30px;
            opacity: 0.9; }
          #partners .rightpartners #banks-slider .owl-dots .owl-dot.active span, #partners .rightpartners #banks-slider .owl-dots .owl-dot:hover span {
            background: url("../img/dot-active.png") center center no-repeat;
            opacity: 1; }

#reviews {
  background: #41b574; }
  #reviews .container {
    padding: 120px 0 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 640px;
    -ms-flex-pack: center;
    justify-content: center; }
    #reviews .container h1 {
      text-align: center;
      font-size: 42px;
      font-weight: 900;
      color: white;
      margin: 0; }
    #reviews .container #owl-reviews .owl-stage-outer {
      padding-top: 80px; }
      #reviews .container #owl-reviews .owl-stage-outer .item {
        text-align: -webkit-center; }
        #reviews .container #owl-reviews .owl-stage-outer .item .review-photos {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -ms-flex-align: center;
          align-items: center;
          width: 75%; }
          #reviews .container #owl-reviews .owl-stage-outer .item .review-photos div {
            width: 98px;
            border: 6px solid #399a64;
            border-radius: 50%;
            background: #399a64; }
            #reviews .container #owl-reviews .owl-stage-outer .item .review-photos div img {
              opacity: 0.5; }
            #reviews .container #owl-reviews .owl-stage-outer .item .review-photos div.active {
              width: 148px; }
              #reviews .container #owl-reviews .owl-stage-outer .item .review-photos div.active img {
                opacity: 1; }
              #reviews .container #owl-reviews .owl-stage-outer .item .review-photos div.active::before {
                content: url("../img/crown.png");
                position: absolute;
                left: 35.8%;
                top: -39px;
                width: 180px;
                height: 238px;
                z-index: 11; }
        #reviews .container #owl-reviews .owl-stage-outer .item h3 {
          font-size: 22px;
          color: #faf16e;
          margin-top: 32px;
          margin-bottom: 0; }
        #reviews .container #owl-reviews .owl-stage-outer .item p {
          font-size: 16px;
          color: white;
          margin-top: 2px;
          margin-bottom: 26px; }
          #reviews .container #owl-reviews .owl-stage-outer .item p.comment {
            line-height: 24px;
            width: 85%; }
    #reviews .container #owl-reviews .owl-nav {
      display: -ms-flexbox;
      display: flex;
      margin-top: 30px; }
      #reviews .container #owl-reviews .owl-nav .owl-prev, #reviews .container #owl-reviews .owl-nav .owl-next {
        font: 0/0 serif;
        text-shadow: none;
        color: transparent;
        background: url("../img/green-arrow.png") transparent center center no-repeat;
        opacity: 0.9;
        line-height: 0;
        outline: none;
        width: 51px;
        border: none;
        cursor: pointer;
        height: 58px;
        z-index: 10;
        position: absolute;
        right: 26%;
        bottom: -16px; }
        #reviews .container #owl-reviews .owl-nav .owl-prev:hover, #reviews .container #owl-reviews .owl-nav .owl-next:hover {
          opacity: 1; }
      #reviews .container #owl-reviews .owl-nav .owl-prev {
        background: url("../img/green-arrow.png") transparent center center no-repeat;
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
        left: 26%; }
    #reviews .container #owl-reviews .owl-dots {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 11; }
      #reviews .container #owl-reviews .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
        *display: inline; }
        #reviews .container #owl-reviews .owl-dots .owl-dot span {
          width: 18px;
          height: 18px;
          margin: 5px;
          background: url("../img/white-dot.png") center center no-repeat;
          display: block;
          -webkit-backface-visibility: visible;
          transition: opacity 200ms ease;
          border-radius: 30px;
          opacity: 0.9; }
        #reviews .container #owl-reviews .owl-dots .owl-dot.active span, #reviews .container #owl-reviews .owl-dots .owl-dot:hover span {
          background: url("../img/step-dot-active.png") center center no-repeat;
          opacity: 1; }
    #reviews .container .lastbttn {
      width: 100%;
      height: 300px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: end;
      align-items: flex-end;
      background: url("../img/last-bg.png") center bottom transparent no-repeat;
      margin-top: 72px;
      padding-bottom: 20px; }

footer {
  background: #41b574; }
  footer .container {
    max-width: 1530px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #399a64;
    color: white;
    padding: 30px 0;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto; }
    footer .container div {
      width: 30%; }

.rangeslider__value-bubble {
  border: 1px solid #ccc;
  display: block;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 25px;
  width: 100px;
  margin-left: -50px;
  text-align: center; }
  .rangeslider__value-bubble:before, .rangeslider__value-bubble:after {
    border-width: 11px;
    border-style: solid;
    border-color: transparent;
    content: "";
    display: block;
    margin: auto;
    width: 10px;
    position: absolute;
    left: 0;
    right: 0; }
  .rangeslider__value-bubble:before {
    border-top-color: #ccc;
    border-bottom-width: 0;
    bottom: -11px; }
  .rangeslider__value-bubble:after {
    border-top-color: #fff;
    border-bottom-width: 0;
    bottom: -10px; }

@media screen and (max-width: 1650px) {
  header .headerleft .clock {
    top: 5%;
    left: 31%; }
  header .headerleft .back {
    bottom: 12.3%;
    left: -17%; }
  header .headerright .container {
    padding-top: 11.5%;
    width: 70%; }
    header .headerright .container h1 {
      font-size: 36px;
      margin: 52px 0 100px; }

  #partners .leftpartners h1 {
    width: 75%; }
    #partners .leftpartners h1 span {
      font-size: 26px;
      font-weight: 400; }
  #partners .leftpartners img {
    margin-top: 20px;
    width: 90%; }
  #partners .rightpartners #banks-slider {
    padding: 75px 105px 90px 105px; }
    #partners .rightpartners #banks-slider .owl-nav .owl-prev, #partners .rightpartners #banks-slider .owl-nav .owl-next {
      margin-left: 85px; }
    #partners .rightpartners #banks-slider .owl-nav .owl-prev {
      margin-right: 150px;
      margin-left: 0; }

  footer .container {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 1440px) {
  header .headerleft .back {
    bottom: 12.3%;
    left: -17%;
    width: 75%;
    height: 450px;
    background-size: contain; }

  header .headerleft .back .bag {
    width: 233px;
    height: 300px;
    background-size: contain; }

  header .headerleft .back .bag .round {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 75px;
    left: 70px; }

  header .headerleft .back .bag .round .coin {
    left: 22px; }

  header .headerbottom p {
    font-size: 16px;
    margin: 0 0 15px; }

  header .headerbottom {
    padding-top: 25px; }

  header .headerright .container {
    padding-top: 8.5%;
    width: 70%; }

  header .headerright .container h1 {
    font-size: 32px;
    margin: 20px 0 93px; }

  header .headerleft .back .bag {
    width: 233px;
    height: 300px;
    background-size: contain; }

  header .headerleft .back .bag {
    right: 109px; } }
@media (max-width: 1024px) {
  #info .container div {
    width: 90%; }

  #info .container div p {
    width: 48%; }

  #counter .container .advantages {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 95%; }
    #counter .container .advantages div {
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      width: 28%; }

  #partners {
    -ms-flex-direction: column;
    flex-direction: column; }

  #partners .leftpartners, #partners .rightpartners {
    width: 100%; }

  #partners .leftpartners {
    width: 100%;
    display: block;
    padding: 60px 0; }

  #partners .leftpartners h1 {
    margin: 0 auto; }

  #partners .leftpartners img {
    display: none; }

  #partners {
    max-height: none; }

  #partners .rightpartners #banks-slider {
    width: 90%;
    padding: 0;
    margin: 0 auto; }

  #partners .rightpartners {
    width: 100%;
    padding: 70px 0; }

  #partners .rightpartners #banks-slider .owl-stage-outer .owl-stage .owl-item .item {
    width: 100%; }

  footer .container div {
    width: 45%; }

  header .headerleft .clock, header .headerbottom, header .headerleft .back .coffee-cup {
    display: none; }

  header .headerleft {
    width: 40%;
    height: 100vh; }

  header .headerright {
    width: 60%;
    height: 100%;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center; }

  header .headerright .container {
    padding-top: 20px; }

  header .headerleft .back {
    background: none;
    position: relative;
    left: initial;
    right: initial;
    bottom: initial;
    top: initial;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }

  header .headerleft .back .bag {
    right: initial;
    top: initial;
    bottom: inherit;
    left: initial;
    height: 420px;
    background-size: contain;
    margin-top: 41px;
    display: inline-block;
    margin-left: -10px; }

  header .headerleft .back .bag .round {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 103px;
    left: 52px; }

  header .headerleft .back .bag .round .coin {
    left: 44px; }

  header .headerright .container .bubble#txt {
    display: none; }

  #counter .container .advantages div p {
    font-size: 16px;
    margin: 15px 0 0; }

  #info .container {
    padding: 0 0 60px 0; } }
@media (max-width: 769px) {
  header .headerleft {
    display: none; }

  header .headerright {
    width: 100%; }

  #steps .container {
    width: 95%; }

  header {
    height: auto; }

  header .headerright {
    height: auto;
    padding: 100px 0; }

  header .headerbottom {
    display: -ms-flexbox;
    display: flex; }

  header .headerright .container .sliderCalc .irs-slider::after {
    top: 21px;
    left: 30px; }

  #steps .container {
    -ms-flex-pack: center;
    justify-content: center; }

  #steps .container {
    width: 77%; }

  #steps .container #owl-steps .owl-nav .owl-prev, #steps .container #owl-steps .owl-nav .owl-next {
    right: -40px; }

  #steps .container #owl-steps .owl-nav .owl-prev {
    left: -40px; }

  #steps .container .btn {
    width: 236px;
    height: 54px;
    font-size: 18px;
    margin: 140px 0 0; }

  #steps .container .active-img {
    bottom: 199px; }

  footer .container div {
    width: 61%; }

  #steps .container {
    padding: 80px 0 90px 0; }

  #reviews .container {
    padding: 100px 0 0 0; }

  #info .container div p {
    width: 100%; }

  #info .container div {
    width: 77%;
    -ms-flex-direction: column;
    flex-direction: column; }

  #info .container h1 {
    width: 80%; }

  #partners .rightpartners #banks-slider .owl-nav .owl-next {
    margin-left: 215px; }

  #partners .rightpartners #banks-slider .owl-stage-outer .owl-stage .owl-item .item img {
    width: initial; }

  #counter .container .advantages div:last-child {
    max-width: 32%; }

  #partners .rightpartners #banks-slider .owl-dots {
    display: block;
    padding: 0 15%;
    text-align: center; } }
@media (max-width: 540px) {
  #steps .container #owl-steps .owl-dots .owl-dot ::before {
    display: none; }

  #steps .container #owl-steps .owl-dots {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }

  #steps .container #owl-steps .owl-dots::before {
    display: none; }

  #info .container {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center; }
    #info .container img {
      width: 90%;
      height: auto; }

  #info .container h1 {
    width: 90%;
    font-size: 20px;
    margin: 30px 0 0; }

  #info .container div {
    width: 92%; }

  #info .container div p {
    margin-bottom: 0; }

  #info .container {
    padding: 0 0 30px 0; }

  #reviews .container {
    padding: 120px 0 0 0;
    width: 90%; }

  #reviews .container h1 {
    font-size: 22px; }

  #reviews .container {
    padding: 60px 0 0 0;
    width: 94%; }

  #reviews .container .lastbttn {
    background-size: contain; }

  #reviews .container #owl-reviews .owl-stage-outer .item .review-photos > div:nth-child(1), #reviews .container #owl-reviews .owl-stage-outer .item .review-photos > div:nth-child(3) {
    display: none; }

  #reviews .container #owl-reviews .owl-stage-outer .item .review-photos div.active::before {
    display: none; }

  #reviews .container #owl-reviews .owl-stage-outer {
    padding-top: 40px; }

  #reviews .container #owl-reviews .owl-nav .owl-next {
    right: 80px; }

  #reviews .container #owl-reviews .owl-nav .owl-prev {
    left: 80px; }

  #reviews .container #owl-reviews .owl-stage-outer .item p.comment {
    line-height: 22px;
    font-size: 14px;
    width: 96%;
    margin-bottom: 10px; }

  #reviews .container #owl-reviews .owl-stage-outer .item h3 {
    margin-top: 15px; }

  #reviews .container #owl-reviews .owl-stage-outer .item p {
    margin-bottom: 14px; }

  #reviews .container .lastbttn {
    margin-top: 20px; }

  footer .container {
    padding-left: 0;
    padding-right: 0;
    width: 94%;
    font-size: 14px;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }

  footer .container div {
    width: 100%;
    margin-top: 15px; }

  #partners .rightpartners #banks-slider .owl-nav .owl-prev {
    margin-right: 0;
    margin-left: 0; }

  #partners .rightpartners #banks-slider .owl-dots {
    padding: 0 28%; }

  #partners .rightpartners #banks-slider .owl-stage-outer .owl-stage .owl-item .item {
    height: 100px;
    margin-bottom: 15px !important; }

  #partners .rightpartners #banks-slider .owl-stage-outer .owl-stage .owl-item .item:last-child {
    margin-top: 15px; }

  #partners .leftpartners h1 {
    width: 80%;
    font-size: 22px; }

  #partners .leftpartners {
    padding: 35px 0; }

  #partners .rightpartners {
    padding: 50px 0; }

  #steps .container .active-img {
    bottom: 199px;
    display: none; }

  #steps .container #owl-steps .owl-stage-outer .item img {
    width: 85%; }

  #steps .container .btn {
    margin: 30px 0 0; }

  #steps .container #owl-steps .owl-stage-outer .item p {
    font-size: 18px; }

  #steps .container h1 {
    font-size: 20px; }

  #steps .container {
    padding: 40px 0 50px 0; }

  #steps .container #owl-steps .owl-nav .owl-prev, #steps .container #owl-steps .owl-nav .owl-next,
  #partners .rightpartners #banks-slider .owl-nav .owl-prev, #partners .rightpartners #banks-slider .owl-nav .owl-next,
  #reviews .container #owl-reviews .owl-nav .owl-prev, #reviews .container #owl-reviews .owl-nav .owl-next {
    zoom: 0.7; }

  #partners .rightpartners #banks-slider .owl-dots {
    display: none; }

  header .headerright .container h1 {
    font-size: 24px;
    text-align: center;
    margin: 16px 0 35px; }

  eader .headerright {
    padding: 50px 0; }

  header .headerright .container {
    width: 94%; }

  header .headerright .container .sliderCalc .irs-grid {
    display: none; }

  header .headerright .container .res {
    text-align: center;
    margin-bottom: 15px; }

  header .headerright .container .sliderCalc {
    width: 100%;
    margin-bottom: 15px; }

  header .headerright {
    padding: 50px 0; }

  #counter .container .counterblock {
    background: url(../img/bg2.png) center center no-repeat;
    width: 100%;
    background-size: contain;
    height: 200px;
    padding-bottom: 30px; }

  #counter .container .counterblock span {
    font-weight: 900;
    font-size: 31px;
    letter-spacing: 9px;
    margin-left: 10px;
    height: 35px; }

  #counter .container .counterblock p {
    font-size: 16px; }

  #counter .container {
    padding: 40px 0 55px 0; }

  #counter .container .advantages {
    -ms-flex-pack: center;
    justify-content: center;
    width: 95%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 10px 0; }

  #counter .container .advantages div {
    width: 100%; }

  #counter .container .advantages div:first-child, #counter .container .advantages div:last-child {
    max-width: 100%; }

  #counter .container .advantages div {
    max-width: 100%; }

  #counter .container .advantages div p {
    font-size: 16px;
    margin: 10px 0 30px; }

  #partners .rightpartners #banks-slider .owl-stage-outer .owl-stage .owl-item .item img {
    width: 78%; }

  #reviews .container .lastbttn {
    width: 100%;
    height: 240px; } }

/*# sourceMappingURL=style.css.map */
